<!-- snippets /accessories-snippets -->
{% comment %}
  Collection template, used on collection.liquid and collection.image.liquid
{% endcomment %}

{% paginate collection.products by 12 %}
<!--adding top header section start here-->
<div class="clear"></div>
<div class="__title_banner">
	<div class="container">
		<div class="row">
			<div class="__Inner_title">
              {% if section.settings.col_banner_img %}
              	<img class="img-responsive lazy2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{ section.settings.col_banner_img | img_url: 'master' }}" alt="collection_img">
                
              {% else %}
              {% if collection.image %}
              	<img class="img-responsive lazy2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{ collection.image | img_url: 'master' }}" alt="collection_img">
                
              {% endif %}
              {% endif %}
			</div>
		</div>
	</div>
</div>
<div class="clear"></div>
<!-- ends here-->
<div class="white_space">	
<div class="clear"></div>
	<div class="products_show gr_prodf">
      <div class="newGet grid-uniform2">
        {% assign grid_item_width = 'medium--one-half large--one-quarter' %}
        {% for product in collection.products %}
        {% include 'product-grid-new-custom' %}          
        {% else %}
        {% if collection.handle == 'all' %}
        {% comment %}
        Add default products to help with onboarding for collections/all only
        {% endcomment %}
        {% include 'onboarding-featured-products' %}
        {% else %}
        {% comment %}
        If collection exists but is empty, display message
        {% endcomment %}
        <div class="grid__item text-center">
          <p>{{ 'collections.general.no_matches' | t }}</p>
        </div>
        {% endif %}
        {% endfor %}
        <div class="commingsoon1">
              {% if section.settings.comsoon1 %}
          		<img class="img-responsive lazy2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{ section.settings.comsoon1 | img_url: 'master' }}" alt="comsoon1">

              {% endif %}
        </div>
        <div class="commingsoon2">
              {% if section.settings.comsoon2 %}
          		<img class="img-responsive lazy2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{ section.settings.comsoon2 | img_url: 'master' }}" alt="comsoon2">

              {% endif %}
        </div>
      </div>
  </div>
  {% if paginate.pages > 1 %}
  	{% include 'pagination' %}
  {% endif %}
</div>
<div class="bottom_advert_banner">
  <a href="{{section.settings.advtUrl}}" target="_self">
  	 {% if section.settings.avertBanner %}
    		<img class="img-responsive lazy2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{ section.settings.avertBanner | img_url: 'master' }}" alt="avertBanner">

     {% endif %}
  </a>
</div>
{% endpaginate %}