<section id="sbn_title_main">
  <div class="sbn_title">
    <h1>{{section.settings.bp_page_title}}</h1>
  </div>
</section>
<section id="sbn_product_main">
  <div class="sbn_coll_tabs">
    <div class="container">      
       <ul class="sbn_tab_listing slider" id="sbn_tab_listing">
	{% for link in linklists[section.settings.shop_menu_id].links %}			
	    <li class="sbn_item sbn_items_{{forloop.index}}">
               <a href="{{ link.url }}">{{ link.title }}</a>
        </li>
	{% endfor %}  
	</ul>
    </div> 
    {% assign sliderHTML = '' %}
     {% assign popupHTML = '' %}
    
    {% for product in collections[section.settings.bp_collection].products %}
    		{% capture slideHtml %}
                 <div>
               <div class="product_img"><img class="lazy2" data-src="https://cdn.shopify.com/s/files/1/1355/5443/{{ product.featured_image}}"/></div>
               <div class="review-wrap"><img class="review_img lazy2" data-src="https://cdn.shopify.com/s/files/1/1355/5443/files/five-star.jpg" alt="star">
                 {% if product.metafields.stamped.reviews_count !=blank %}
                 <span class="sFreview_count">({{ product.metafields.stamped.badge }})</span>
                 {% endif %}
                   </div>  
               <h3 class="product_title">{{product.title | truncate: 50}}</h3>
               <p class="sf_from_price">From {{product.price_min | money}}</p>
               <a class="sf_more_opTion" href="{{ product.url}}">More Options Available</a>
               <p><span class="sf_p_popup" pop_id="sbn_popup_{{forloop.index}}">Why {{product.title | truncate: 25}}?</span></p>
                 </div>
    		{% endcapture %}    
     		{% capture popHtml %}
              <div class="sf_pPopUp_content" id="sbn_popup_{{forloop.index}}">
                <div class="popup-warp">
                  <span class="sf_close_bTn"><img class="lazy2" data-src="https://cdn.shopify.com/s/files/1/1355/5443/files/popup-close.jpg" /></span>
                  <div class="product_img"><img class="lazy2" data-src="https://cdn.shopify.com/s/files/1/1355/5443/{{ product.featured_image}}"/></div>
                  <div class="popUp_content">
                    {{ product.description }}
                   {% comment %} {{ product.description | strip_html | truncate: 999 }}{% endcomment %}
                  </div>
                </div>
              </div>
    		{% endcapture %}   
    	{% assign sliderHTML = sliderHTML | append: slideHtml %}
    	{% assign popupHTML = popupHTML | append: popHtml %}
     {% endfor %}
    <div class="container">
    	<div class="sbn_coll_tabs_content" id="sbn_coll_tabs_content">
   			 <div class="sbn_coll_content sbn_col_is_active" id="sbn_coll_tab_1">
               <h2 class="sbn_pro_title"><span>{{ section.settings.col_title }} Products</span></h2>
               <div class="slider" id="sbn_slider_type_1">      
                 {{sliderHTML}}
               </div>
               
<h2 class="sbn_pro_title sbn_article_title"><span>Helpful {{ section.settings.col_title }} Content</span></h2>            
 	<div class="DogBlogList1">
  <ul class="byProb_program_slider slider">
    {% for block in section.blocks %} 
		{% if block.type == 'selectArticles' %} 
    		{% assign article = articles[block.settings.for_article] %}
    			{% if article %}   	 
                      <li>
                        <a href="{{ article.url }}">
                          <div class="_dog-img-list1">
                              <img class="lazy2" data-src="{{ article.image.src | image_url: width: 500 }}" >
                          </div>
                          <div class="_dog-img-text1">          
                            <div class="__dog-title1">
                              <span class="img-title1">{{ article.published_at | date: "%b %d " }}</span>
                            </div>
                            <div class="_dog_cnt_1">
                               {{  article.title }}
                                <p><span class="SeeMOre1"> > read <strong>more</strong> </span></p>
                            </div>
                          </div>
                        </a>
                      </li>   
   				{% endif %}
		{% endif %}
   {% endfor %}
 </ul>
</div>    
<div class="sbn_footer_text">{{ section.settings.footer_text }}</div>
  				</div>       
          {{popupHTML}}
    </div>
    </div>
</div>
</section>
<style>
.sFreview_count .stamped-starrating{display:none}
  ul.sbn_tab_listing li.sbn_item a {
    text-decoration: none;
}
  ul.sbn_tab_listing li {
    display: inline-block; color: #fff;
    background: #ddd;
    padding: 5px 10px;
    cursor: pointer;
}
  li.sbn_item.sbn_is_active {
    background: #00b6bd;
   
}
  div#sbn_coll_tabs_content .sbn_coll_content{display:none;}
  div#sbn_coll_tabs_content .sbn_coll_content.sbn_col_is_active{display:block;}
  .template-page-by-problem span.stamped-starrating.stamped-badge-starrating {
    display: none;
}
  .sf_pPopUp_content {
    display: none;
}
  span.sf_p_popup {
    cursor: pointer;
    text-decoration: underline;
}
.sf_pPopUp_content.is_popup_active{display:block !important}

/*  Updated CSS   */
.sbn_coll_tabs .container {
    max-width: 1600px;
    padding: 0 80px;
}
.sbn_title {
    background: #ed1b3c;
    margin-top: 10px;
}  
.sbn_title h1 {
    font-size: clamp(48px, 4.75vw, 75px);
    font-family: "Gentona";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1;
    text-align: center;
    margin: 0;
    padding: 25px 0 30px;
    padding: 2% 3%;
}  
.sbn_title h1 .sn_by {
    font-weight: 300;
}  
ul.sf_age_tabs_list {
    margin: 0;
    display: flex;
    margin: 50px 0;
    align-items: center;
    justify-content: center;
    grid-column-gap: 5px;
}  
ul.sbn_tab_listing {
    margin: 70px 0 40px;
}  
img.review_img {
    display: block;
    width: 100%;
    max-width : 140px;
}
ul.sbn_tab_listing li {
    font-size: 1vw;
    background: #dedddd;
    text-decoration: none;
    text-align: center;
    display: block;
    text-align: center;
    cursor: pointer;
    color: #fff;
    margin: 0 4px;
    padding: 0px !important;
} 
ul.sbn_tab_listing li a {
    padding: 10px 5px;
    width: 100%;
    max-width: 100%;
    display: inline-block;
}
ul.sbn_tab_listing li:hover a {
    background : #00b6bd;
}   
  
.sbn_pro_title {
    position: relative;z-index: 0 !important;
}
.sbn_pro_title span {
    font-size: 36px;
    font-family: "Gentona";
    color: #706f6f;
    line-height: 1;
    font-weight: 300;
    margin: 0;
    position: relative;
    z-index: 1 !important;
    margin-bottom: 45px;
    padding-right: 15px;
    background: #fff !important;
}  
.sbn_pro_title::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background: #706f6f;
    right: 0;
    top: 19px;
}
.sbn_footer_text {
    font-size: 21px;
    font-family: "Gentona";
    color: #706f6f;
    line-height: 1.2;
    padding: 30px 40px;
    background: #f6f6f6;
    margin-bottom: 55px;
    line-height: 1.2;
    z-index: 63;
}
.__Footer_sec_inner {
    border: none;
    padding: 0px 38px 40px;
    
}  
.review-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 15px;
}
.sFreview_count {
    font-size: 12.5px;
    font-family: "Gentona";
    color: #706f6f;
    line-height: 1;
    text-align: center;
    display: flex;
} 
.sFreview_count  span.stamped-badge-caption {
    text-decoration: none;
}
.sFreview_count span.stamped-badge-caption span {
    padding: 0 !important;
}
.product_title {
	font-size: 28px;
	font-family: "Gentona";
	color: #706f6f;
	line-height: 1;
	font-weight: 500;
	width: 100%;
	max-width: 175px;
	text-align: center;
	margin: 0px auto;
	padding: 20px 0 15px;
	text-transform: capitalize;
	letter-spacing: 0px;
} 
a.sf_more_opTion {
	font-size: 14px;
	font-family: "Gentona";
	color: #fff;
	font-weight: 600;
	text-align: center;
	padding: 7px 10px;
	background: #00b7bc;
	margin: 15px 0 10px;
	display: block;
	text-decoration: none;
	border-radius: 20px;
	line-height: 1;
	margin: 0px auto;
	width: max-content !important;
	margin: 0px auto;
	text-transform: uppercase;
}
.sf_from_price {
    font-size: 18px;
    font-family: "Gentona";
    color: #706f6f;
    line-height: 1.138;
    text-align: center;
    margin: 0;
    margin-bottom: 15px;
} 
.sf_p_popup {
    font-size: 15px;
    font-family: "Gentona";
    color: #706f6f;
    font-style: italic;
    text-decoration: underline;
    text-align: center;
    display: block;
    text-align: center;
    padding-top: 10px;
}
.slick-slide .product_img {
    position: relative;
    padding-top: 100%;
}
.product_img img {
    position: absolute;
    top: 0;
    object-fit: contain;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-width: 230px;
}
.slick-arrow {
    position: absolute;
    top: -5px;
    right: 0px;
    background: #e7e7e7;
    left: unset;
    border-radius: 50%;
    height: 22px;
    width: 22px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}
.slick-arrow:before {
    content: "";
    background: url(https://cdn.shopify.com/s/files/1/1355/5443/files/a_left.png);
    background-position: center;
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    z-index: 9999;
    position: absolute;
    background-position: center center;
    width: 22px;
    height: 22px;
    z-index: 999;
}
.slick-prev {
    top: -5px;
    right:33px;
}
.slick-arrow:before {
}

  
.sbn_tab_listing .slick-arrow {
    top: -25px;
}
.sbn_coll_content .slick-arrow {
    top: -25px;
}  
.sbn_coll_content .slider {
    margin: 60px 0 50px;
} 
  
.is_popup_active {
    background: rgb(0 0 0 / 60%);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    bottom: 0;
    right: 0;
}
.popup-warp {
    position: relative;
    background: #fff;
    max-width: 850px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-column-gap: 20px;
    padding: 35px;
    flex-wrap: wrap;
}
.popup-warp  .product_img {
    width: 30%;
}
.popup-warp .popUp_content {
    width: 65%;
}
span.sf_close_bTn {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    user-select: none;
    z-index: 999;
} 
.popup-warp>img {
    width: 100%;
    max-width: 300px;
} 
.popUp_content h3 {
    font-size: 26px;
    font-family: "Gentona";
    color: #706f6f;
    line-height: 1;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 0px;
    margin: 20px 0 20px;
}  
.popUp_content p {
    font-size: 15px;
    font-family: "Gentona";
    color: #706f6f;
    margin: 0;
    line-height: 1.2;
} 
.popup-warp .product_img img {
    position: unset;
} 
.sbn_coll_content  {
    display: block !important;
    width: 100%;
}
.sbn_coll_tabs_content {
    position: relative;
}
.sbn_coll_tabs_content>.sbn_coll_content:not(.sbn_col_is_active) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    z-index: -1;
}
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
    background: #a4a5a5;
}
.slick-slide .product_img {
    position: relative;
    padding-top: 65%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

  
.byProb_program_slider li.slick-slide {
   padding: 0 20px;
}
.DogBlogList1 {
    margin: 0 -20px;
}
.byProb_program_slider .slick-next {
    right: 20px;
}
.byProb_program_slider .slick-prev {
    right: 53px;
}
.byProb_program_slider .slick-slide a {
    position: relative;
    display: block;
    padding-top: 87%;
}
.byProb_program_slider .slick-slide a:before {
    content: "";
    position: absolute;
    background: rgba(0,0,0,.25);
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
}
._dog-img-list1 {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
._dog-img-list1 img {
    width: 100%;
    object-fit: cover;
    position: absolute;
    height: 100%;
    padding: 0;
}
._dog-img-text1 {
    position: absolute;
    width: 100%;
    height: 100%;
    color: #fff;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 999;
    padding: 10px 15px 10px 25px;
}
.__dog-title1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
span.img-title1 {
    font-size: 13px;
    font-family: Gentona;
}
._dog_cnt_1 {
    font-size: clamp(18px,1.85vw,25px);
    line-height: 100%;
    font-family: Gentona;
  font-weight: 500;
} 
._dog_cnt_1 p {
    margin-bottom: 0;
} 
._dog_cnt_1 span.SeeMOre1 {
    display: block;
    font-size: 12px;
    padding-top: 5px;
    font-family: Gentona;
  font-weight : 500;
}  
 ul.sbn_tab_listing li {
    white-space: nowrap !important;
}
.hideDes{display:none}
span.otherAll.hideDes{display:block}  
  
  
  
@media (max-width:1024px) {
    .slick-initialized .slick-slide {
      flex-direction: column !important;
    }
  	.sbn_coll_tabs .container {
        padding: 0 30px;
    }
    .container {
        padding: 0 25px;
    }
} 
  
@media (max-width: 767px) {
    .sbn_title h1 {
        max-width: 250px;
        padding: 4% 0 5%;
        margin: 0px auto;
    }  
    .sbn_coll_tabs .container {
        padding: 0px;
    }
    ul.sbn_tab_listing li {
        font-size: 12px;
    }
    .sbn_pro_title {
          text-align: center;
          margin-top: 25px;
     }
    .sbn_pro_title span {
        font-size: 25px;
        margin-bottom: 25px;
        padding-right: 0px;
    }
    .sbn_pro_title::after {
        display : none;
    }
    .byProb_program_slider li.slick-slide {
        padding: 0 8px;
    }
    .DogBlogList1 {
        margin: 0 -5px;
    }
    .sbn_article_title {
        text-align: left;
        padding: 0 100px 0 15px;
        line-height: 1.25;
    }
    ul.sbn_tab_listing {
        margin: 75px 0 0px;
    }
    .slick-next {
        right: 15px;
    }
    .slick-prev {
        right: 45px;
    }
    ._dog_cnt_1 {
        font-size: 24px;
    }
    .sbn_footer_text {
        font-size: 16px;
        padding: 15px 20px;
        margin: 35px 15px 0;
    }
    ul.byProb_program_slider.slider.slick-initialized.slick-slider {
        margin-top: 20px;
    }
   .sbn_coll_tabs_content div.slick-slider .slick-arrow {top: -5px;} 
    .sbn_coll_content .slider {
        margin: 50px 0 50px;
    }
    .popup-warp {
        flex-direction: column;
    }
    .is_popup_active {
        padding: 0 15px;
    }
    .product_title {
        font-size: 18px;
        padding: 10px 0 5px;
    } 
    .review-wrap {
        flex-direction : column;
    }
    a.sf_more_opTion {
        font-size: 12px;
        padding: 5px 7px;
    }
    .sf_p_popup {
        font-size: 12px;
        padding-top: 0px;
    }
    .product_img img {
        max-width: 100%;
        height: 100%;
        max-width: 145px;
    }
      .popup-warp .product_img img {
        position: unset;
        margin: 0px auto;
        max-width: 175px;
    }
    .sf_from_price {
        font-size: 14px;
        margin-bottom: 10px;
    }
  
  .popup-warp  .product_img {
        width: 100%;
    }
    .popup-warp .popUp_content {
        width: 100%;
    }
  
  .sbn_coll_tabs .slick-slider .slick-dots {
      bottom: -15px;
  }

}
  
  
  
  
</style>
<script>
$(document).on("click",".sf_p_popup,span.sf_close_bTn",function(){
$(".sf_pPopUp_content").removeClass("is_popup_active");
 var popupID = $(this).attr("pop_id");
$("#"+popupID).addClass("is_popup_active");
})
</script>

