{% if section.settings. is_col_review %}
<div class="white_space">
  <h1 class="mid-title md2"><span style="background-color:{{ section.settings.re_head_color }};">{{ section.settings.review_title }}</span></h1>
  <div class="rev_cols">
   {% for block in section.blocks %}
    <div class="col-md-6">
      <h1 class="drk_grn_txt">{{ block.settings.review_title }}
        <div class="starts_rev">         
         {% for i in (1..5) %}
          	{% if i <= block.settings.rating %}
        		<i class="fa fa-star"></i>
        	{% endif %}
          {% endfor %}
        </div></h1>
      <div class="clear"></div>
      {% if block.settings.review_c %}{{ block.settings.review_c }}{% endif  %}
      <p class="">{% if block.settings.reviewer_id %}- {{ block.settings.reviewer_id }}{% endif  %}</p>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}