<!--snippet/icon_selection.liquid-->
{% if canonical_url contains 'dog-antlers' %}
  <div class="pet-blog-IconSelection">
	<a href="https://petparentsbrand.com/products/gnawtlers">
      {{ 'antlers.png' |  file_img_url:'master' | img_tag:'Click here to learn about your antlers for dogs options!','_gnawtlers','Gnawtlers' }}	
  	</a>
  </div>
{% elsif canonical_url contains 'male-dog-wraps'%}

  <div class="pet-blog-IconSelection">
	<a href="https://petparentsbrand.com/products/dog-belly-bands">
      {{ 'bellybands.png' |  file_img_url:'master' | img_tag:'Click here to learn about your belly bands for dogs options!' '_male_dog_wraps','Dog Belly bands'}}	
  	</a>
  </div>
{% elsif canonical_url contains 'breeding-dogs'%}

<div class="pet-blog-multiProduct-IconSelection" data-part="breeding-dogs">
  <div class="top-sec-IconSelection">
    <h5 style="font-size: 35px;text-transform: uppercase;">CLICK ON THE IMAGE TO LEARN ABOUT SPECIFIC PRODUCTS FOR</h5>
    <h2 class="red-product-title">breeding</h2>
  </div>
  <div class="petBlog-productList">
    <div class="petBlog011">
    	<a href="https://petparentsbrand.com/products/dog-diapers">
      		{{ 'dog-diapers-product.png' |  file_img_url:'master' | img_tag:'_dog_diapers','Dog Diapers'}}	  
          <span>Dog Diapers</span>
      	</a>
    </div>
    <div class="petBlog012">
    	<a href="https://petparentsbrand.com/products/cat-diapers">
      		{{ 'cat-diapers-product.png' |  file_img_url:'master' | img_tag:'_cat_diapers','Cat Diapers'}}	   
          <span>Cat Diapers</span> 
      	</a>
    </div>
    <div class="petBlog013">
    	<a href="https://petparentsbrand.com/products/puppy-pads">
      		{{ 'pawtect-product.png' |  file_img_url:'master' | img_tag:'_puppy_pads','Puppy Pads'}}	  
          <span>Pawtect® Pads</span>  
      	</a>
    </div>
    <div class="petBlog013">
    	<a href="https://petparentsbrand.com/products/dog-supplements">
      		{{ 'kl.png' |  file_img_url:'master' | img_tag:'Supplements for dogs','supps'}}	  
          <span>SOFTSUPPS™</span>  
      	</a>
    </div>
  </div>
</div>
{% elsif canonical_url contains 'cat-diapers'%}
  <div class="pet-blog-IconSelection">
	<a href="https://petparentsbrand.com/products/cat-diapers">
      {{ 'catdiapers_4fff015b-83d9-42c4-b4c9-0b0ceb667aa4.png' |  file_img_url:'master' | img_tag:'_cat_diapers','Cat Diapers'}}	
  	</a>
  </div> 
{% elsif canonical_url contains 'cat-spray'%}
<div class="pet-blog-multiProduct-IconSelection">
  <div class="top-sec-IconSelection">
    <h5>CLICK ON THE IMAGE TO LEARN ABOUT SPECIFIC PRODUCTS FOR</h5>
    <h2 class="red-product-title">Cat Spraying</h2>
  </div>
  <div class="petBlog-productList">
    <div class="petBlog012">
    	<a href="https://petparentsbrand.com/products/cat-diapers">
      		{{ 'cat-diapers-product.png' |  file_img_url:'master' | img_tag:'_cat_diapers','Cat Diapers'}}	   
          <span>Cat Diapers</span> 
      	</a>
    </div>
    <div class="petBlog013">
    	<a href="https://petparentsbrand.com/products/puppy-pads">
      		{{ 'pawtect-product.png' |  file_img_url:'master' | img_tag:'_puppy_pads','Puppy Pads'}}	  
          <span>Pawtect® Pads</span>  
      	</a>
    </div>
  </div>
</div>
 
{% elsif canonical_url contains 'dog-crate'%}

<div class="pet-blog-multiProduct-IconSelection">
  <div class="top-sec-IconSelection">
    <h5>CLICK ON THE IMAGE TO LEARN ABOUT SPECIFIC PRODUCTS FOR</h5>
    <h2 class="blue-product-title">Crating</h2>
  </div>
  <div class="petBlog-productList">
    <div class="petBlog011">
    	<a href="https://petparentsbrand.com/products/dog-diapers">
      		{{ 'dog-diapers-product.png' |  file_img_url:'master' | img_tag:'_dog_diapers','Dog Diapers'}}	  
          <span>Dog Diapers</span>
      	</a>
    </div>
    <div class="petBlog012">
    	<a href="https://petparentsbrand.com/products/cat-diapers">
      		{{ 'cat-diapers-product.png' |  file_img_url:'master' | img_tag:'_cat_diapers','Cat Diapers'}}	   
          <span>Cat Diapers</span> 
      	</a>
    </div>
    <div class="petBlog012">
    	<a href="https://petparentsbrand.com/products/dog-belly-bands">
      		{{ 'belly-band-product.png' |  file_img_url:'master' | img_tag:'belly bands for dogs','Dog Belly Bands'}}	   
          <span>Dog Belly Bands</span> 
      	</a>
    </div>
    <div class="petBlog013">
    	<a href="https://petparentsbrand.com/products/puppy-pads">
      		{{ 'pawtect-product.png' |  file_img_url:'master' | img_tag:'_puppy_pads','Puppy Pads'}}	  
          <span>Pawtect® Pads</span>  
      	</a>
    </div>
  </div>
</div>
{% elsif canonical_url contains 'dog-diapers'%}
  <div class="pet-blog-IconSelection">
	<a href="https://petparentsbrand.com/products/dog-diapers">
      {{ 'dog-diapers_2bb820e7-c083-4c67-aa83-f89ebccd62fb.png' |  file_img_url:'master' | img_tag:'_dog_diapers','Dog Diapers'}}	
  	</a>
  </div> 
{% elsif canonical_url contains 'female-dogs'%}

<div class="pet-blog-multiProduct-IconSelection">
  <div class="top-sec-IconSelection">
    <h5>CLICK ON THE IMAGE TO LEARN ABOUT SPECIFIC PRODUCTS FOR</h5>
    <h2 class="red-product-title">Caring for Female Dogs</h2>
  </div>
  <div class="petBlog-productList">
    <div class="petBlog011">
    	<a href="https://petparentsbrand.com/products/dog-diapers">
      		{{ 'dog-diapers-product.png' |  file_img_url:'master' | img_tag:'_dog_diapers','Dog Diapers'}}	  
          <span>Dog Diapers</span>
      	</a>
    </div>
    <div class="petBlog013">
    	<a href="https://petparentsbrand.com/products/puppy-pads">
      		{{ 'pawtect-product.png' |  file_img_url:'master' | img_tag:'_puppy_pads','Puppy Pads'}}	  
          <span>Pawtect® Pads</span>  
      	</a>
    </div>
  </div>
</div>
{% elsif canonical_url contains 'feline-postpartum'%}

<div class="pet-blog-multiProduct-IconSelection">
  <div class="top-sec-IconSelection">
    <h5>CLICK ON THE IMAGE TO LEARN ABOUT SPECIFIC PRODUCTS FOR</h5>
    <h2 class="red-product-title">feline postpartum</h2>
  </div>
  <div class="petBlog-productList">
    <div class="petBlog012">
    	<a href="https://petparentsbrand.com/products/cat-diapers">
      		{{ 'cat-diapers-product.png' |  file_img_url:'master' | img_tag:'_cat_diapers','Cat Diapers'}}	   
          <span>Cat Diapers</span> 
      	</a>
    </div>
    <div class="petBlog013">
    	<a href="https://petparentsbrand.com/products/puppy-pads">
      		{{ 'pawtect-product.png' |  file_img_url:'master' | img_tag:'_puppy_pads','Puppy Pads'}}	  
          <span>Pawtect® Pads</span>  
      	</a>
    </div>
  </div>
</div>
{% elsif canonical_url contains 'dog-health'%}

<div class="pet-blog-multiProduct-IconSelection">
  <div class="top-sec-IconSelection">
    <h5>CLICK ON THE IMAGE TO LEARN ABOUT SPECIFIC PRODUCTS FOR</h5>
    <h2 class="blue-product-title">pet health</h2>
  </div>
  <div class="petBlog-productList">
    <div class="petBlog011">
    	<a href="https://petparentsbrand.com/products/dog-diapers">
      		{{ 'dog-diapers-product.png' |  file_img_url:'master' | img_tag:'_dog_diapers','Dog Diapers'}}	  
          <span>Dog Diapers</span>
      	</a>
    </div>
    <div class="petBlog012">
    	<a href="https://petparentsbrand.com/products/cat-diapers">
      		{{ 'cat-diapers-product.png' |  file_img_url:'master' | img_tag:'_cat_diapers','Cat Diapers'}}	   
          <span>Cat Diapers</span> 
      	</a>
    </div>
    <div class="petBlog012">
    	<a href="https://petparentsbrand.com/products/dog-belly-bands">
      		{{ 'belly-band-product.png' |  file_img_url:'master' | img_tag:'belly bands for dogs','Dog Belly Bands'}}	   
          <span>Dog Belly Bands</span> 
      	</a>
    </div>
    <div class="petBlog013">
    	<a href="https://petparentsbrand.com/products/puppy-pads">
      		{{ 'pawtect-product.png' |  file_img_url:'master' | img_tag:'_puppy_pads','Puppy Pads'}}	  
          <span>Pawtect® Pads</span>  
      	</a>
    </div>
  </div>
</div>
{% elsif canonical_url contains 'incontinence'%}

<div class="pet-blog-multiProduct-IconSelection">
  <div class="top-sec-IconSelection">
    <h5>CLICK ON THE IMAGE TO LEARN ABOUT SPECIFIC PRODUCTS FOR</h5>
    <h2 class="red-product-title">incontinence</h2>
  </div>
  <div class="petBlog-productList">
    <div class="petBlog011">
    	<a href="https://petparentsbrand.com/products/dog-diapers">
      		{{ 'dog-diapers-product.png' |  file_img_url:'master' | img_tag:'_dog_diapers','Dog Diapers'}}	  
          <span>Dog Diapers</span>
      	</a>
    </div>
    <div class="petBlog012">
    	<a href="https://petparentsbrand.com/products/cat-diapers">
      		{{ 'cat-diapers-product.png' |  file_img_url:'master' | img_tag:'_cat_diapers','Cat Diapers'}}	   
          <span>Cat Diapers</span> 
      	</a>
    </div>
    <div class="petBlog012">
    	<a href="https://petparentsbrand.com/products/dog-belly-bands">
      		{{ 'belly-band-product.png' |  file_img_url:'master' | img_tag:'belly bands for dogs','Dog Belly Bands'}}	   
          <span>Dog Belly Bands</span> 
      	</a>
    </div>
    <div class="petBlog013">
    	<a href="https://petparentsbrand.com/products/puppy-pads">
      		{{ 'pawtect-product.png' |  file_img_url:'master' | img_tag:'_puppy_pads','Puppy Pads'}}	  
          <span>Pawtect® Pads</span>  
      	</a>
    </div>
  </div>
</div>
{% elsif canonical_url contains 'puppy-newborn'%}
<div class="pet-blog-multiProduct-IconSelection">
  <div class="top-sec-IconSelection">
    <h5>CLICK ON THE IMAGE TO LEARN ABOUT SPECIFIC PRODUCTS FOR</h5>
    <h2 class="red-product-title">caring for newborns</h2>
  </div>
  <div class="petBlog-productList">
    <div class="petBlog011">
    	<a href="https://petparentsbrand.com/products/dog-diapers">
      		{{ 'dog-diapers-product.png' |  file_img_url:'master' | img_tag:'_dog_diapers','Dog Diapers'}}	  
          <span>Dog Diapers</span>
      	</a>
    </div>
    <div class="petBlog012">
    	<a href="https://petparentsbrand.com/products/cat-diapers">
      		{{ 'cat-diapers-product.png' |  file_img_url:'master' | img_tag:'_cat_diapers','Cat Diapers'}}	   
          <span>Cat Diapers</span> 
      	</a>
    </div>
    <div class="petBlog013">
    	<a href="https://petparentsbrand.com/products/puppy-pads">
      		{{ 'pawtect-product.png' |  file_img_url:'master' | img_tag:'_puppy_pads','Puppy Pads'}}	  
          <span>Pawtect® Pads</span>  
      	</a>
    </div>
  </div>
</div>

{% elsif canonical_url contains 'neuter-spay'%}

<div class="pet-blog-multiProduct-IconSelection">
  <div class="top-sec-IconSelection">
    <h5>CLICK ON THE IMAGE TO LEARN ABOUT SPECIFIC PRODUCTS FOR</h5>
    <h2 class="red-product-title">neutering and spaying</h2>
  </div>
  <div class="petBlog-productList">
    <div class="petBlog011">
    	<a href="https://petparentsbrand.com/products/dog-diapers">
      		{{ 'dog-diapers-product.png' |  file_img_url:'master' | img_tag:'_dog_diapers','Dog Diapers'}}	  
          <span>Dog Diapers</span>
      	</a>
    </div>
    <div class="petBlog012">
    	<a href="https://petparentsbrand.com/products/cat-diapers">
      		{{ 'cat-diapers-product.png' |  file_img_url:'master' | img_tag:'_cat_diapers','Cat Diapers'}}	   
          <span>Cat Diapers</span> 
      	</a>
    </div>
    <div class="petBlog012">
    	<a href="https://petparentsbrand.com/products/dog-belly-bands">
      		{{ 'belly-band-product.png' |  file_img_url:'master' | img_tag:'belly bands for dogs','Dog Belly Bands'}}	   
          <span>Dog Belly Bands</span> 
      	</a>
    </div>
    <div class="petBlog013">
    	<a href="https://petparentsbrand.com/products/puppy-pads">
      		{{ 'pawtect-product.png' |  file_img_url:'master' | img_tag:'_puppy_pads','Puppy Pads'}}	  
          <span>Pawtect® Pads</span>  
      	</a>
    </div>
  </div>
</div>
{% elsif canonical_url contains 'pee-pads'%}

  <div class="pet-blog-IconSelection">
	<a href="https://petparentsbrand.com/products/dog-diapers">
      {{ 'peepads_6041aacc-8a47-4e03-9523-063e4f69632c.png' |  file_img_url:'master' | img_tag:'_pee_pads','Pee Pads'}}	
  	</a>
  </div> 

{% elsif canonical_url contains 'senior-dog'%}

<div class="pet-blog-multiProduct-IconSelection">
  <div class="top-sec-IconSelection">
    <h5>CLICK ON THE IMAGE TO LEARN ABOUT SPECIFIC PRODUCTS FOR</h5>
    <h2 class="blue-product-title">senior dogs</h2>
  </div>
  <div class="petBlog-productList">
    <div class="petBlog011">
    	<a href="https://petparentsbrand.com/products/dog-diapers">
      		{{ 'dog-diapers-product.png' |  file_img_url:'master' | img_tag:'_dog_diapers','Dog Diapers'}}	  
          <span>Dog Diapers</span>
      	</a>
    </div>
    <div class="petBlog013">
    	<a href="https://petparentsbrand.com/products/puppy-pads">
      		{{ 'pawtect-product.png' |  file_img_url:'master' | img_tag:'_puppy_pads','Puppy Pads'}}	  
          <span>Pawtect® Pads</span>  
      	</a>
    </div>
  </div>
</div>
{% elsif canonical_url contains 'seasons'%}


<div class="pet-blog-multiProduct-IconSelection">
  <div class="top-sec-IconSelection">
    <h5>CLICK ON THE IMAGE TO LEARN ABOUT SPECIFIC PRODUCTS FOR</h5>
    <h2 class="blue-product-title">different seasons</h2>
  </div>
  <div class="petBlog-productList">
    <div class="petBlog011">
    	<a href="https://petparentsbrand.com/products/dog-diapers">
      		{{ 'dog-diapers-product.png' |  file_img_url:'master' | img_tag:'_dog_diapers','Dog Diapers'}}	  
          <span>Dog Diapers</span>
      	</a>
    </div>
    <div class="petBlog012">
    	<a href="https://petparentsbrand.com/products/cat-diapers">
      		{{ 'cat-diapers-product.png' |  file_img_url:'master' | img_tag:'_cat_diapers','Cat Diapers'}}	   
          <span>Cat Diapers</span> 
      	</a>
    </div>
    <div class="petBlog012">
    	<a href="https://petparentsbrand.com/products/dog-belly-bands">
      		{{ 'belly-band-product.png' |  file_img_url:'master' | img_tag:'belly bands for dogs','Dog Belly Bands'}}	   
          <span>Dog Belly Bands</span> 
      	</a>
    </div>
    <div class="petBlog013">
    	<a href="https://petparentsbrand.com/products/puppy-pads">
      		{{ 'pawtect-product.png' |  file_img_url:'master' | img_tag:'_puppy_pads','Puppy Pads'}}	  
          <span>Pawtect® Pads</span>  
      	</a>
    </div>
  </div>
</div>

{% elsif canonical_url contains 'dog-marking'%}

<div class="pet-blog-multiProduct-IconSelection">
  <div class="top-sec-IconSelection">
    <h5>CLICK ON THE IMAGE TO LEARN ABOUT SPECIFIC PRODUCTS FOR</h5>
    <h2 class="blue-product-title">spot marking</h2>
  </div>
  <div class="petBlog-productList">
    <div class="petBlog011">
    	<a href="https://petparentsbrand.com/products/dog-diapers">
      		{{ 'dog-diapers-product.png' |  file_img_url:'master' | img_tag:'_dog_diapers','Dog Diapers'}}	  
          <span>Dog Diapers</span>
      	</a>
    </div>
    <div class="petBlog012">
    	<a href="https://petparentsbrand.com/products/dog-belly-bands">
      		{{ 'belly-band-product.png' |  file_img_url:'master' | img_tag:'_dog_belly_band','Dog Belly Bands'}}	   
          <span>Dog Belly Bands</span> 
      	</a>
    </div>
    <div class="petBlog013">
    	<a href="https://petparentsbrand.com/products/puppy-pads">
      		{{ 'pawtect-product.png' |  file_img_url:'master' | img_tag:'_puppy_pads','Puppy Pads'}}	  
          <span>Pawtect® Pads</span>  
      	</a>
    </div>
  </div>
</div>
{% elsif canonical_url contains 'dog-travel'%}


<div class="pet-blog-multiProduct-IconSelection">
  <div class="top-sec-IconSelection">
    <h5>CLICK ON THE IMAGE TO LEARN ABOUT SPECIFIC PRODUCTS FOR</h5>
    <h2 class="red-product-title">traveling with your pet</h2>
  </div>
  <div class="petBlog-productList">
    <div class="petBlog011">
    	<a href="https://petparentsbrand.com/products/dog-diapers">
      		{{ 'dog-diapers-product.png' |  file_img_url:'master' | img_tag:'_dog_diapers','Dog Diapers'}}	  
          <span>Dog Diapers</span>
      	</a>
    </div>
    <div class="petBlog012">
    	<a href="https://petparentsbrand.com/products/cat-diapers">
      		{{ 'cat-diapers-product.png' |  file_img_url:'master' | img_tag:'_cat_diapers','Cat Diapers'}}	   
          <span>Cat Diapers</span> 
      	</a>
    </div>
    <div class="petBlog012">
    	<a href="https://petparentsbrand.com/products/dog-belly-bands">
      		{{ 'belly-band-product.png' |  file_img_url:'master' | img_tag:'belly bands for dogs','Dog Belly Bands'}}	   
          <span>Dog Belly Bands</span> 
      	</a>
    </div>
    <div class="petBlog013">
    	<a href="https://petparentsbrand.com/products/puppy-pads">
      		{{ 'pawtect-product.png' |  file_img_url:'master' | img_tag:'_puppy_pads','Puppy Pads'}}	  
          <span>Pawtect® Pads</span>  
      	</a>
    </div>
  </div>
</div>
{% elsif canonical_url contains 'pet-urine'%}


<div class="pet-blog-multiProduct-IconSelection">
  <div class="top-sec-IconSelection">
    <h5>CLICK ON THE IMAGE TO LEARN ABOUT SPECIFIC PRODUCTS FOR</h5>
    <h2 class="red-product-title">urination problems</h2>
  </div>
  <div class="petBlog-productList">
    <div class="petBlog011">
    	<a href="https://petparentsbrand.com/products/dog-diapers">
      		{{ 'dog-diapers-product.png' |  file_img_url:'master' | img_tag:'_dog_diapers','Dog Diapers'}}	  
          <span>Dog Diapers</span>
      	</a>
    </div>
    <div class="petBlog012">
    	<a href="https://petparentsbrand.com/products/cat-diapers">
      		{{ 'cat-diapers-product.png' |  file_img_url:'master' | img_tag:'_cat_diapers','Cat Diapers'}}	   
          <span>Cat Diapers</span> 
      	</a>
    </div>
    <div class="petBlog012">
    	<a href="https://petparentsbrand.com/products/dog-belly-bands">
      		{{ 'belly-band-product.png' |  file_img_url:'master' | img_tag:'belly bands for dogs','Dog Belly Bands'}}	   
          <span>Dog Belly Bands</span> 
      	</a>
    </div>
    <div class="petBlog013">
    	<a href="https://petparentsbrand.com/products/puppy-pads">
      		{{ 'pawtect-product.png' |  file_img_url:'master' | img_tag:'_puppy_pads','Puppy Pads'}}	  
          <span>Pawtect® Pads</span>  
      	</a>
    </div>
  </div>
</div>
{% elsif canonical_url contains 'supplements'%}
 <div class="pet-blog-IconSelection">
	<a href="https://petparentsbrand.com/products/dog-supplements">
      {{ 'softsupp.png' |  file_img_url:'master' | img_tag:'Supplements for dogs','supplements'}}	
  	</a>
  </div>
{% else %}
{% endif %}   