{% if section.settings.is_middle %}
<div class="white_space ">
  <div class="__SizeChartbanner">
    <div class="__SizeChartbanner--left">
    	{% if section.settings.proSizeChart %}
            {{ section.settings.proSizeChart | img_url: 'master' | img_tag:'useCase','lazyloaded' }}
         {% endif %}
    </div>
    <div class="__SizeChartbanner--right">
    	{% if section.settings.proSizeChart2 %}
            {{ section.settings.proSizeChart2 | img_url: 'master' | img_tag:'useCase','lazyloaded' }}
         {% endif %}
    </div>
  </div>
   <div class ="additional_sec _newsite banner_over_sing Chew_banners" > 
      <div class ="dog_dia_img">
      {{ section.settings.addi_img1 | img_url:'master' |img_tag:'addi_img1','img-responsive' }}
      </div>
      <div class ="dog_dia_cont chew_ban_content">
         {{ section.settings.image_content }}
      </div>
    </div>
  <div class="additional_sec_helpIssue chew_problems Turmeric_chewer_stain prb_lf_o">
    <div class="top_additional_sec_issue">
      <div class="top_additional_sec_Img probotic_imgr ">
      	{{ section.settings.topAddit_sec_Img  | img_url:'master' |img_tag:'topAddit_sec_Img','img-responsive' }}
      </div>
      <div class="top_additional_sec_content listing_pnts bladder_p_list probtic_pro prb_spnf">
         <h4 class="red" style="color:{{section.settings.peePadHeaderColor}}!important ;">{{section.settings.topAddit_sec_head}}</h4>
        <div class="right_suppliments multipoint_box allrgy">
          <h6 style="color:{{section.settings.suppcolor2}}!important ;">{{section.settings.addit_leftcontent}}</h6>
          <h6 style="color:{{section.settings.suppcolor3}}!important ;">{{section.settings.addit_rightcontent}}</h6>
        </div>
      </div>      
    </div>
    <p class="sub_cod box_p">{{section.settings.addit_sec_paragraph}}</p>
  </div>
  		<section class="specialFeature product_collage big_pill_box">
            <div class="container">
                
                    <div class="pp-12">
                        <div class="useCases incontiProduct featureTitle title_large">
                            <h2 class="blue" style="color:{{section.settings.peePadHeaderColor}} !important;">{{ section.settings.bellyHeadline }}</h2>
                        </div>
                    </div>
                    <div class="__mainSuppmobileImg">
                        {% if section.settings.bellyfeature7 %}
                             {{ section.settings.bellyfeature7 | img_url: 'master' | img_tag:'useCase','lazyloaded' }}
                        {% endif %}
                    </div>
              <div class="row row_floer chew_box">
                    <div class="pp-12 chw_box_1">
                        <div class="featureContent">
                          <div class="GnawfeatureContent">
                            <div class="GnawfeatureImg" style="background:{{section.settings.featureColor}}">
                               {% if section.settings.bellyfeature1 %}
                                    {{ section.settings.bellyfeature1 | img_url: 'master' | img_tag:'useCase','lazyloaded' }}
                                {% endif %}
                            </div>
                            <div class="Gnaw featureText featurepad">
                              	{{ section.settings.bellyProText1}}
                            </div>
                          </div>
                          <div class="GnawfeatureContent">
                            <div class="GnawfeatureImg" style="background:{{section.settings.featureColor}}">
                                {% if section.settings.bellyfeature2 %}
                                    {{ section.settings.bellyfeature2 | img_url: 'master' | img_tag:'useCase','lazyloaded' }}
                                {% endif %}
                            </div>
                            <div class="Gnaw featureText">
                              	{{ section.settings.bellyProText2}}
                            </div>
                          </div>
                        </div>
                    </div>
                <div class="__mainCenterImageGnaw">
                	{% if section.settings.bellyfeature7 %}
                         {{ section.settings.bellyfeature7 | img_url: 'master' | img_tag:'useCase','lazyloaded' }}
                    {% endif %}
                </div>
                    <div class="pp-12 chw_box_2">
                        <div class="featureContent ">
                          <div class="GnawfeatureContent">
                            <div class="GnawfeatureImg fabricImg" style="background:{{section.settings.featureColor}}">
                                {% if section.settings.bellyfeature3 %}
                                    {{ section.settings.bellyfeature3 | img_url: 'master' | img_tag:'useCase','lazyloaded' }}
                                {% endif %}
                            </div>
                            <div class="Gnaw featureText">
                              	{{ section.settings.bellyProText3}}
                            </div>
                          </div>
                          <div class="GnawfeatureContent">
                            <div class="GnawfeatureImg fabricImg" style="background:{{section.settings.featureColor}}">
                                {% if section.settings.bellyfeature4 %}
                                    {{ section.settings.bellyfeature4 | img_url: 'master' | img_tag:'useCase','lazyloaded' }}
                                {% endif %}
                            </div>
                            <div class="Gnaw featureText elasticText">
                              	{{ section.settings.bellyProText4}}
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
  <section class="gnawIngredients">
    <div class="gnawcontainer">
      <div class="pp-12">  
        {% for block in section.blocks %}
         {% if block.type == 'antler' %}
        <div style="background:{{block.settings.antlercolor}};" class="suppliment_uniqe niq_calm  close_eough1">
        	{% if block.settings.antlerTopHeading != '' %}       
              <div class="useCases incontiProduct featureTitle title_large ">
                  <h2 class="blue" style="color:{{block.settings.antlerHeadColor}} !important;">{{block.settings.antlerTopHeading}}</h2>
              </div>
        	{% endif %}
          <div class="gnawAntlerGuid ">
            {%if block.settings.align =="left"%}
              <div class="leftGnawImage">
                <div class="imageAntler">
                    {% if block.settings.antlerImg %}
                         {{ block.settings.antlerImg | img_url: 'master' | img_tag:'useCase','lazyloaded' }}
                    {% endif %}
                </div>
              </div>
            {% endif %} 
            <div class="antlerContent">
              
              <h5 style="color:{{section.settings.peePadHeaderColor}}">
                {% if block.settings.antlerfirstImg %}
                       {{ block.settings.antlerfirstImg | img_url: 'master' | img_tag:'useCase','lazyloaded' }}
                {% endif %}
                {% if block.settings.antlerHeading %}
                  {{block.settings.antlerHeading}}
                {% endif %}
              </h5>
              <p style="color:{{block.settings.antlertextcolor}}">{{block.settings.antlerContent}}</p>
            </div>
            {%if block.settings.align =="right"%}
              <div class="rightGnawImage">
                <div class="imageAntler">
                    {% if block.settings.antlerImg %}
                         {{ block.settings.antlerImg | img_url: 'master' | img_tag:'useCase','lazyloaded' }}
                    {% endif %}
                </div>
              </div>
            {% endif %}
          </div>
        </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </section>
  <section class="OurMainIngrdients">
    <div class="sec--OurIngridients bgColorOBI">
      <div class="ing_plus_30">
      <div class="obi--Heading">
        <h2>{{section.settings.obiHeading}}</h2>
      </div>
      </div>
      <div class="ing_plus_70">
      <div class="0bi--firstImage">
      	{% if section.settings.obiImg1 %}
              {{ section.settings.obiImg1 | img_url: 'master' | img_tag:'useCase','lazyloaded' }}
           {% endif %}
        <p>{{section.settings.obiHeading2}}</p>
      </div>
      <span class="ad_probeb">+</span>
      <div class="0bi--secImage">
      	{% if section.settings.obiImg2 %}
              {{ section.settings.obiImg2 | img_url: 'master' | img_tag:'useCase','lazyloaded' }}
           {% endif %}
        <p>{{section.settings.obiHeading3}}</p>
      </div>
      <div class="0bi--thirdImage">
      	{% if section.settings.obiImg3 %}
              {{ section.settings.obiImg3 | img_url: 'master' | img_tag:'useCase','lazyloaded' }}
           {% endif %}
        <p>{{section.settings.obiHeading4}}</p>
      </div>
      <div class="0bi--frthImage">
      	{% if section.settings.obiImg4 %}
              {{ section.settings.obiImg4 | img_url: 'master' | img_tag:'useCase','lazyloaded' }}
           {% endif %}
        <p>{{section.settings.obiHeading5}}</p>
      </div>
    </div>
    </div>
  </section>
  <section class="sec--nofillter probiotic">
    <div class="nofillter--left">
      <h3>{{section.settings.leftNofillHeading}}</h3>   
    </div>
    <div class="nofillter--right">
		{% if section.settings.botimag %}
              {{ section.settings.botimag | img_url: 'master' | img_tag:'useCase','lazyloaded' }}
           {% endif %}
    </div>
  </section>
  <section class="sec--nofillter-subPart" style="background:{{section.settings.nofillercolor}}">
      <h4>{{section.settings.leftNofillerHeading}}</h4>  
    <div class="__nofillersection">
      <div class="left__nofillerSection">
    	{% if section.settings.botimag2 %}
            {{ section.settings.botimag2 | img_url: 'master' | img_tag:'useCase','lazyloaded' }}
         {% endif %}
      </div>
      <span>VS</span>
      <div class="ryt__nofillerSection">
    	{% if section.settings.botimag3 %}
            {{ section.settings.botimag3 | img_url: 'master' | img_tag:'useCase','lazyloaded' }}
         {% endif %}
      </div>
    </div>
  </section>
  <section class="ingridents">
    <div class="sec--indgridents">
      <p>{{section.settings.ingredients}}</p>
    </div>
  </section>
  <section class="safety">
    <div class="Container">
      <div class="bgColorSafter blader_bfore">
        <div class="safetyImg  ">
           {% if section.settings.safetyIcon %}
              {{ section.settings.safetyIcon | img_url: 'master' | img_tag:'useCase','lazyloaded' }}
           {% endif %}
        </div>
      </div>
      <div class="safetyContent probatic_safe">
        <h5 style="color:{{section.settings.saftyheadingcolor}}">{{section.settings.saftyheading}}</h5>
        <p style="color:{{section.settings.saftysubheadingcolor}}">{{section.settings.saftysubheading}}</p>
        <ul>
          <span></span><li>{{section.settings.safcontent1}}</li>
          <span></span><li>{{section.settings.safcontent2}}</li>
          <span></span><li>{{section.settings.safcontent3}}</li>
        </ul>
      </div>
    </div>  	
  </section>
  <section class="ProductRelatedAdvertisement last_banner_pro margin_no_top  {% if section.settings.specialProdAdvetImgmobile %} desktopSection {% endif %}">
    <div class="container">
      <div class="row">
        <div class="pp-6">
          <div class="leftRelatedAdvert allgy_img">
            <h4>{{section.settings.specialProdAdvet}}</h4>
            <img class="lazy2" data-src="{{ section.settings.specialProdAdvetImg | img_url:'master'}}" alt="{{ section.settings.specialProdAdvetImg}}" />
          </div>
        </div>
        <div class="pp-6">
          <div class="rightRelatedAdvert allgy_txt probotic_buy_n">
            <h4 class="red" style="color:{{section.settings.peePadHeaderColor}} !important">{{section.settings.specialProdAdvetHead}}</h4>
            {% if section.settings.specialProdAdvetImg2 %}
              {{ section.settings.specialProdAdvetImg2 | img_url: 'master' | img_tag:'useCase','lazyloaded' }}
            {% endif %}
            
            {% comment %}adding Product_ids for inline cart{% endcomment %}
            {% assign productIds  = "" | split: "," %}
            {% if section.blocks.size > 0 %}
            {% assign stickyprice = 0 %}
            	{% for block in section.blocks %}
                  {% if block.type == 'product' %}
                  	{% assign pro_data 		= block.settings.inline_product %}
                  	{% assign productt 		= all_products[pro_data] %}
            		{% assign stickyprice 	= stickyprice | plus: productt.selected_or_first_available_variant.price %}
                  	{% assign productId 	= productt.selected_or_first_available_variant.id | split: ',' %}
            		{% assign productIds 	= productIds | concat:productId  %}
                  {% endif %}
                {% endfor %}
            {% endif %}
            
            <div class="learnMoreBtn" data-pro="{{-productIds | join: '|' -}}">
              	{% if section.settings.specialProdAdvetcheck %}
              		<a href="{{section.settings.specialProdAdveturl}}" class="RedButton signUpBtn ashdajsl" style="background:{{section.settings.peePadHeaderColor}};">{{section.settings.specialProdAdvetBut}}</a>	
              	{% else %}
					<a href="javascript:void(0);" class="RedButton signUpBtn redBack __productInline" style="background:{{section.settings.peePadHeaderColor}}">{{section.settings.specialProdAdvetBut}}</a>
				{% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  {% if section.settings.specialProdAdvetImgmobile %}
    <section class="ProductRelatedAdvertisement last_banner_pro mobileNewFormatingSection mobileSection">
      {% if section.settings.specialProdAdvetcheck %}
          <a href="{{section.settings.specialProdAdveturl}}">		
              {% if section.settings.specialProdAdvetImgmobile %}
                {{ section.settings.specialProdAdvetImgmobile | img_url: 'master' | img_tag:'useCase','lazyloaded' }}
              {% endif %}
          </a>	
              {% else %}         
          <a href="javascript:void(0);">
              {% if section.settings.specialProdAdvetImgmobile %}
                {{ section.settings.specialProdAdvetImgmobile | img_url: 'master' | img_tag:'useCase','lazyloaded' }}
              {% endif %}
          </a>
      {% endif %}

    </section> 
  {% endif %}
</div> 

<style>
 .additional_sec._newsite {
    background-image:url('{{ section.settings.addi_img | img_url:'master'}}');
    background-repeat: no-repeat;
    background-size: unset;
    position: relative;
    background-position:center;
  }
  .bgColorSafter{
    background:{{section.settings.safetycolor}};
  }
  .sec--indgridents{
    background:{{section.settings.ingrecolor}};
	color:#fff;
  }
  .bgColorOBI{
    background:{{section.settings.obiBG}};
  }
  .sec--OurIngridients.bgColorOBI h2, .sec--OurIngridients.bgColorOBI p {
    color: {{section.settings.obifontColor}};
  }
  .probiotic .nofillter--left h3 span {color:{{section.settings.nofiller }} !important; }
</style>
{% endif %}