
<!-- New Update Here Tagged Description -->
<div class="dog-antler-blogPage">
  {% if canonical_url contains 'dog-antlers' %}
   	<div class="__probContent__PetAge">
      {{ 'ban-antler.jpg' |  file_img_url:'master' | img_tag:'_antlers , Gnwlter ','Antlers'}}
    </div>
    <div class="blogPage-content contra_img2">
      <div class="blogPage-lytImg">
        {{ 'all-antler.png' |  file_img_url:'master' | img_tag:'_antlers','Antlers'}}
      </div>
      <div class="blogPage_pars">
        <p>
        When it comes to picking out the right antler dog bones for your dog, there is a lot that dog owners need to know about antlers for dogs. Plenty of questions arise: Are these chew toys safe for dogs? Do they cause broken teeth? Do they keep teeth clean?
        </p>
        <p>Long lasting antlers and marrow bones for dogs can be a life saver for those of you who are finding that your aggressive chewer has a bad habit of chewing up your grandma’s loafers when she stops by to drop off cookies or destroys your cute, new decorative pillows that you just bought from Target. Check out the articles below that cover topics on antler dog chews; deer antlers, elk antlers, and to inform you that naturally shed antlers are safe. 
        </p>
      </div>
    </div>
    <div class="__section2-problem problem_blue">
      <p>Click below and choose the articles related to Antlers</p>
    </div>
<!-- New Update Till Here -->
  {% elsif canonical_url contains 'male-dog-wraps'%}
    <div class="__probContent__PetAge">
      {{ 'banner-belly.jpg' |  file_img_url:'master' | img_tag:'_male_bellyband','Belly Band'}}
    </div>
    <div class="blogPage-content contra_img2">
      <!--<div class="blogPage-lytImg">
        {{ 'coder.jpg' |  file_img_url:'master' | img_tag:'_male_bellyband','Belly Band'}}
      </div>-->
      {% assign belly_article = articles['petblog/belly-bands-guide'] %}
      <div class="blogPage-lytImg _guidedArticle" data-guidearticle="{{belly_article.id}}">
        <a href="{{belly_article.url}}">
          <div class="logo_sign_text"><span>{{ belly_article.title }}</span></div>
          <div class="__Blog_More_img03">
            {% if belly_article.image %}
              {{ belly_article.image | img_url:'x350' | img_tag:'','' }}
            {% endif %}
          </div>
        </a>
      </div>
      <div class="blogPage_pars">
        <p>
         Belly bands for dogs (otherwise known as male dog diapers): the solution to how to dog train your handsome pup to stop marking on the curtains in your living room or for when you have a senior dog who struggles with making it outside due to incontinence
        </p>
        <p>Whether it’s dog marking, old dog incontinence, or house training that you are dealing with, dog belly bands are designed to be a lifesaver for you and your furry friend; they are a comfortable fit, leak proof, they wick moisture, have an absorbent pad, and are washable and reusable. This great product is easy to use and easy to wash, as all it takes is a quick machine wash. Once you correctly measure your dog for the right dog belly band size, all you have to do is wrap it around your dog, and boom! Problem solved. 
        </p>
        <p>Check out the belly wrap articles below on different things to know when it comes to these male dog diapers and male dog wraps and how dog belly bands can save you during these stressful pet parent times.
        </p>
      </div>
    </div>
    <div class="__section2-problem problem_blue">
      <p>Click below and choose the articles related to Belly Bands</p>
    </div>
  {% elsif canonical_url contains 'breeding-dogs'%}
    <div class="__probContent__PetAge">
      {{ 'baner-breeding.jpg' |  file_img_url:'master' | img_tag:'_breeding','Breeding'}}
    </div>
    <div class="blogPage-content contra_img2">
      {% assign guide_article = articles['petblog/the-pet-parents-guide-to-responsible-dog-breeding'] %}
      <div class="blogPage-lytImg _guidedArticle" data-guidearticle="{{guide_article.id}}">
        {% comment %}{{ 'hu.png' |  file_img_url:'master' | img_tag:'_breeding','Breeding'}}{% endcomment %}
        <a href="{{guide_article.url}}">
          <div class="logo_sign_text"><span>{{ guide_article.title }}</span></div>
          <div class="__Blog_More_img03">
            {% if guide_article.image %}
              {{ guide_article.image | img_url:'x350' | img_tag:'','' }}
            {% endif %}
          </div>
        </a>
      </div>
      <div class="blogPage_pars">
        <p>
         When it comes to pet breeding, things can get doggone stressful for both you and your dogs and cats! There are several key things dog owners need to know about different breeding operations and how to be a responsible breeder.
        </p>
        <p>Whether you are dealing with a breeding cat or a breeding dog, or you're wanting to pure breed a certain dog breed or cat breed, there are many hormones involved on both sides, male and female (yikes). In order to successfully breed those precious purebred dogs, there are many things to keep in mind; potential health problems, behavior problems, hip dysplasia in female dogs, special pet food, genetic defects, different breeding programs, pet overpopulation problems; the list goes on!
        </p>
        <p>Check out the different articles below to help you with what you need to know when it comes to pet breeding (or if you decide that maybe this isn't something you are up to, check out our spay neuter articles).
        </p>
      </div>
    </div>
    <div class="__section2-problem problem_blue">
      <p>Click below and choose the articles related to Breeding</p>
    </div>
  {% elsif canonical_url contains 'cat-diapers'%}
     <div class="__probContent__PetAge">
      {{ 'banner-Cat-Diaper.jpg' |  file_img_url:'master' | img_tag:'_Cat_Diaper','Cat Diaper'}}
    </div>
    <div class="blogPage-content contra_img2">
      <div class="blogPage-lytImg">
        {{ 'Cat-Diaper-product.png' |  file_img_url:'master' | img_tag:'_Cat_Diaper','Cat Diaper'}}
      </div>
      <div class="blogPage_pars">
        <p>
         Cat diapers are a must for pet parents. These washable diapers can be used for all cats; kittens, senior cats, male cats, female cats, small cats or large cats, and there is a lot to know about them.What are cat diapers? What are they used for? Will they fix the problem of my cat not making it to the litter box?
        </p>
        <p>What kind of kitten diaper does my fur-baby need? Should I use baby diapers, cloth diapers, disposable diapers or machine washable diapers? Do they come with a super absorbent pad? Are they leak proof with elastic gathers? Don’t you worry!
        </p>
        <p>We provide you with all the answers and much more on these piddle pants for cats in the articles below, and once you learn more and you correctly measure your cat for the right cat diaper size, find your best kitty diaper option, and place it on your cat - Boom! All cat spraying and cat incontinence problems are long term solved.
        </p>
      </div>
    </div>
    <div class="__section2-problem problem_blue">
      <p>Click below and choose the articles related to Cat Diapers</p>
    </div>
  {% elsif canonical_url contains 'cat-spray'%}
    <div class="__probContent__PetAge">
      {{ 'ban-cat-spraying.png' |  file_img_url:'master' | img_tag:'_Cat_Spray','Cat Spray'}}
    </div>
    <div class="blogPage-content contra_img2">
      <div class="blogPage-lytImg">
        {{ 'cat-spraying-stop.png' |  file_img_url:'master' | img_tag:'_Cat_Spray','Cat Spray'}}
      </div>
      <div class="blogPage_pars">
        <p>
         As a cat owner, you know that cat spraying can be a real and smelly issue. Cat urine spraying can be a result of a variety things; your cat feels stressed or unhappy, it can be a marking behavior where they want to mark their territories, amounts of urine in the litter box, urinary tract infections, cat food, neighborhood cats, neutered male cat spraying, other cats in the household, acting out female cats, areas where the cat doesn't like change/is afraid of, etc.
        </p>
        <p>No one wants to walk into their home and get a whiff of cat pee, am I right? Or to be worried about the thought of friends avoiding your home because, well, you're ‘that person’ whose home is known to have a terrible stench to it because your cats mark. But don’t worry! Thanks to the articles below that provide you with a variety of cat urine marking and cat spraying solutions (i.e. synthetic pheromones) and explanations, you don’t have to stress about being ‘that person.’
        </p>
      </div>
    </div>
    <div class="__section2-problem problem_blue">
      <p>Click below and choose the articles related to Cat Spraying</p>
    </div>
  {% elsif canonical_url contains 'dog-crate'%}
    <div class="__probContent__PetAge">
      {{ 'ban-dog-crates.png' |  file_img_url:'master' | img_tag:'_Dog_Crate','Dog Crate'}}
    </div>
    <div class="blogPage-content contra_img2">
      <div class="blogPage-lytImg">
        {{ 'dog-crates-product.png' |  file_img_url:'master' | img_tag:'_Dog_Crate','Dog Crate'}}
      </div>
      <div class="blogPage_pars">
        <p>
          As pet parents, when we place our fur babies into their dog kennels, we want to be assured that they are comfortable and stress-free. We don’t want them to think of their dog crate as a prison cell! Instead, your dog’s kennel should be a safe space.
        </p>
        <p>
          What kind of dog crates to buy, when to start crate training your dog, and how to kennel train them are a just few important questions pet parents have to PAWnder (like what I did there?). Check out the articles below to learn more about dog kennels and kenneling your dog!
        </p>
      </div>
    </div>
    <div class="__section2-problem problem_blue">
      <p>Click below and choose the articles related to Crate</p>
    </div>
  {% elsif canonical_url contains 'dog-diapers'%}
    <div class="__probContent__PetAge">
      {{ 'banner-dog-diapers.png' |  file_img_url:'master' | img_tag:'_Dog_diapers','Dog Diapers'}}
    </div>
    <div class="blogPage-content contra_img2">
      <!--<div class="blogPage-lytImg">
        {{ 'prod-dog-diapers.png' |  file_img_url:'master' | img_tag:'_Dog_diapers','Dog Diapers'}}
      </div>-->
      {% assign diaper_article = articles['petblog/dog-diapers-guide'] %}
      <div class="blogPage-lytImg _guidedArticle" data-guidearticle="{{diaper_article.id}}">
        <a href="{{diaper_article.url}}">
          <div class="logo_sign_text"><span>{{ diaper_article.title }}</span></div>
          <div class="__Blog_More_img03">
            {% if diaper_article.image %}
              {{ diaper_article.image | img_url:'x350' | img_tag:'','' }}
            {% endif %}
          </div>
        </a>
      </div>
      <div class="blogPage_pars">
        <p>
          Dog diapers are a must for pet parents. However, there is a lot to know about washable diapers for dogs; whether they are being used as dog diapers for females or diapers for male dogs, or for urinary incontinence in an older dog or as diapers for dogs in heat.
        </p>
        <p>
          What are washable dog diapers? What are they used for? What kind of doggie diaper does my fur-baby need? Is the outer layer going to be thick enough? Do they come with a hole for the tail? What is my best dog diaper option? Don’t you worry! We provide you with all the answers and much more in the articles below (If your fur-baby doesn't need a full diaper, check out our articles on belly bands).
        </p>
      </div>
    </div>
    <div class="__section2-problem problem_blue">
      <p>Click below and choose the articles related to Dog Diapers</p>
    </div>
  {% elsif canonical_url contains 'feline-postpartum'%}
<div class="white_space02">
<div class="art_added">
  <div class="art_title">
    Articles related to <span>Feline Postpartum</span>
  </div>
  <div class="art_subs">
  <p>Postpartum struggles are something that not only humans deal with after birth, believe it or not, post birth mama cats can have feline postpartum struggles, as well (You’re probably thinking, ‘lucky me,’ am I right?).
  </p>
  <p>
  Feline postpartum in cats can last for weeks and even months. If you thought your female cat was needy before, you are in for a rude-awakening, let me tell ya! But lucky for you, you don’t have to panic. Check out the articles below to learn more about feline postpartum when it comes to mammary glands, milk production, foul smells, muscle tremors, newborn kittens, vaginal discharge and how to care for your mother cat or even your father male cat.
  </p>
  </div>
</div>
</div>
  {% elsif canonical_url contains 'dog-health'%}
<div class="white_space02">
<div class="art_added">
  <div class="art_title">
    Articles related to <span>Pet Health</span>
  </div>
  <div class="art_subs">
  <p>
  When it comes to your pet’s health, there can be a wide range of pet health problems that occur. As a pet parent, it is important to be aware of these pet health issues and to put on our pet parent super power pants to prevent/minimize ear infections, vomiting, diarrhea, kidney diseases, having to take your dog to the vet, etc.
  </p>
  <p>
  From your dog suddenly getting ‘the runs’ all over your white bedroom carpet to him scaring the living daylights out of you because he woke you up having a dog seizure in the night – we have got you covered. Check out the pet health related articles below on different pet health topics and solutions.
  </p>
  </div>
</div>
</div>
  {% elsif canonical_url contains 'incontinence'%}
<div class="white_space02">
<div class="art_added">
  <div class="art_title">
    Articles related to <span>Incontinence</span>
  </div>
  <div class="art_subs">
  <p>
  Ahh! The word we all dread as pet owners: incontinence. When dog incontinence or cat incontinence occurs, it can be a real doggone pain - especially knowing the root issue can be a wide range of things: bladder infections, behavior problems, spayed female dogs, medical conditions, medication that increases urine, urinary tract infections, spinal cord issues, the list goes on! 
  </p>
  <p>
  Is your dog dribbling urine in his sleep? Has he leaked urine on your nice (now smelly) cloth couch? Has your cat suddenly started cat spraying? Are you constantly asking yourself, “Why, why, why does this keep happening?” A common misconception is that this only happens with older pets, but urinary incontinence doesn't discriminate, it happens whether you have a young dog, middle aged dog, or older dog.
  </p>
  <p>
  But don’t worry our fellow pet parent, please take a look at the articles below on different pet incontinence problems and urinary incontinence in dogs solutions, and whether or not it's time for a physical examination!
  </p>
  </div>
</div>
</div>
  {% elsif canonical_url contains 'neuter-spay'%}
<div class="white_space02">
<div class="art_added">
  <div class="art_title">
    Articles related to <span>Spay and Neuter</span> 
  </div>
  <div class="art_subs">
  <p>
  This topic is one that may make your fur-babies want to cover their precious ears.
  </p>
  <p>
  As a pet owner, neutering your pet and spaying female cats and dogs can be a stressful time for both you and them, but it is also important in preventing and helping with uterine cancer, behavioral problems, unwanted litters of puppies and kittens, heat cycles, pet overpopulation, etc. After spay neuter surgeries, their bodies go through changes that may take some adjusting to.
  </p>
  <p>
  After your female dog or female cat is spayed or your male animal is neutered, it is important to take extra time to veg on the couch with them and give them extra lovin’s to ensure them that everything is going to be okay. Check out the spay and neuter related articles below on different things you should know when it comes to neutering your male dog and getting your pet spayed.
  </p>
  </div>
</div>
</div>
  {% elsif canonical_url contains 'puppy-newborn'%}
<div class="white_space02">
<div class="art_added">
  <div class="art_title">
    Articles related to <span>Newborns</span>
  </div>
  <div class="art_subs">
  <p>
  Yep, it’s time to prepare yourself for all of the ‘aww’-ing that comes with bringing around newborn puppies or newborn kittens! If only taking care of them was as easy as adoring their cuteness, am I right?
  </p>
  <p>
  Caring for newborns can be stressful, as there are several things to know and do when kittens and puppies are born: knowing healthy birth weights, body temperatures, body weights and weight gains, using heat lamps, heating pads, warm water and milk replacers, and when to use solid food and the amount of feeding times a day. The list goes on! On top of taking care for young puppies and making sure the puppy develops successfully, you also have to ensure your mother dog is healthy too and that she is taking care of them because the puppies depend on her.
  </p>
  <p>
  But, as always, you should never worry because we got your back in the articles below (whew!) – they will provide you with helpful insight on newborn puppy care, whether they are 24 hours old, or weeks of age.
  </p>
  </div>
</div>
</div>
  {% elsif canonical_url contains 'pee-pads'%}
<div class="white_space02">
<div class="art_added">
  <div class="art_title">
    Articles related to <span>Pee Pads</span>
  </div>
  <div class="art_subs">
  <p>
  Another term for dog pee pads, might as well be magic pads. Why? Because dog pee pads can solve a wiiiiiide range of problems for pet parents. They also can be referred to as by several different terms: puppy pads, potty pads, training pads, wee wee pads, etc.
  </p>
  <p>
  Wanting to successfully puppy train or potty train your dog? Sick of your furniture and car being covered in pet fur? Having to clean up a trail of water from every time your messy dog gets a drink or kitty litter from the litter box? Going through a routine of having to wash your senior dog's bedding every morning?
  </p>
  <p>
  Yep, you guessed it. Pee pads can be the solution to each one of those issues, along with many more. Take a look at the potty pad related articles below to learn more about pee pads and other ways they may be a saving grace to you and your pet family!
  </p>
  </div>
</div>
</div>
  {% elsif canonical_url contains 'seasons'%}
<div class="white_space02">
<div class="art_added">
  <div class="art_title">
    Articles related to <span>different Seasons</span>
  </div>
  <div class="art_subs">
  <p>
  Adapting to different seasons and trying to stay safe and comfortable throughout the holiday season are things that your furry friend can’t do without you. As their pet owner, it is important that you be extra mindful of keeping your pet safe, and protecting your pets during the different times of the year. Know when it is appropriate to leave your pets inside or at home, or when to find them a pet friendly place to keep them safe.
  </p>
  <p>
  Heck, our cats and dogs really can’t do much of anything without us, am I right? Good thing those sloppy kisses and wet noses are so easy to love!
  </p>
  <p>
  Check out the pet safety and seasonal articles below on things you need to know about pet safety during different times of the year and holiday seasons.
  </p>
  </div>
</div>
</div>
  {% elsif canonical_url contains 'senior-dog'%}
<div class="white_space02">
<div class="art_added">
  <div class="art_title">
    Articles related to <span>Senior Dogs</span>
  </div>
  <div class="art_subs">
  <p>
   Our precious senior dogs have been around the block a time or two, so depending on their dog age things can really change for them: weight loss, extra dental care, kidney disease, heart disease, health problems, change in diet and exercise, hearing loss, cognitive dysfunction and other health issues. 
  </p>
  <p>
  As pet parents it is important to always keep our eye on our old dogs to be aware of how they are feeling and doing, and to talk to your vet and make more frequent vet visits. 
  </p>
  <p>
  Learn more care tips for your older dog and how to increase his quality of life and keep him healthy in the articles below.
  </p>
  </div>
</div>
</div>
  {% elsif canonical_url contains 'dog-marking'%}
<div class="white_space02">
<div class="art_added">
  <div class="art_title">
    Articles related to <span>Spot Marking</span>
  </div>
  <div class="art_subs">
  <p>
   Ahhh! One of the biggest struggles there is when it comes to being the mom or dad to a male (and sometimes female) adult dog: dog marking.
  </p>
  <p>
  Whether it’s dog pee on the curtains in your living room or your guests’ shoes by the door - male dogs and female dogs scent mark. It can be infuriating, smelly, and annoying.  Something that makes it even worse is not knowing the actual cause. Is it to mark their territory or a sudden behavior modification? Is it because of separation anxiety? Is he doing it to submissively urinate? Is it because a female dog is around? Does she have a medical condition or is it strictly a marking behavior? Does he or she need spayed or neutered? Are they marking in response to a change? So many questions!
  </p>
  <p>
  Save the relationship between you and your dog and prevent pet odors from being all around your home by reading the articles below on urine marking and learn what your best solution is, whether it is restricting your dog, confining your dog, or anti anxiety medicine, etc. and other things you need to know when it comes to dog marking.
  </p>
  </div>
</div>
</div>
  {% elsif canonical_url contains 'dog-travel'%}
<div class="white_space02">
<div class="art_added">
  <div class="art_title">
    Articles related to <span>Pet Travel</span>
  </div>
  <div class="art_subs">
  <p>
   Does your dog sit there with his big ole sad puppy dog eyes as you’re walking out the door? Does he guilt trip you in bringing him along with you?
  </p>
  <p>
  I’m sure many of you pet owners are nodding your head. Fear no more, we know traveling with your dogs and cats can sometimes be stressful because you want to make sure you keep your pet safe and have an ID with contact information, food and watering necessities, travel crates and pet crates, pet friendly hotels, seat belts, medical records, health certificates, and the list goes on and on. It is also important to know the best way to air travel when your pets fly with you, how to check your pet or bring your pet on a plane. Or if it is just best to leave your pet at home!
  </p>
  <p>
  That’s why we have provided you with some guidance on things you might need to know when traveling with your pet. Check out the pet travel articles below. 
  </p>
  <p>
  Safe travels!
  </p>
  </div>
</div>
</div>
  {% elsif canonical_url contains 'pet-urine'%}
<div class="white_space02">
<div class="art_added">
  <div class="art_title">
    Articles related to <span>Urination</span>
  </div>
  <div class="art_subs">
  <p>
   No one wants to be ‘that’ house. And by ‘that’ house I mean the one that your friends might avoid because if they sit on the couch they might get an unpleasant whiff of pee.
  </p>
  <p>
  And yes, as we all know, one thing that comes along with having a pet is usually a struggle with pet urination problems in female dogs, male dogs, and in cats. Whether it's submissive urination, bladder infections, kidney disease, common medical problems, dribbling small amounts of urine, urinary tract infection, a dog who needs house trained, bladder stones, or other pet health issues, chances are as a pet parent you will deal with urinary incontinence.
  </p>
  <p>
  Save your home from being ‘that’ house because your cat or dog urinates in various places of it, by checking out the pet urination articles below to learn more about how to avoid, prevent and find solutions to pet urination problems in dogs and cats.
  </p>
  </div>
</div>
</div>
  {% elsif canonical_url contains 'female-dogs'%}
      <div class="__probContent__PetAge">
      {{ 'banner-female-dogs.png' |  file_img_url:'master' | img_tag:'_Female_Dogs','Female Dogs'}}
    </div>
    <div class="blogPage-content contra_img2">
      <div class="blogPage-lytImg">
        {{ 'female-dog.png' |  file_img_url:'master' | img_tag:'_Female_Dogs','Female Dogs'}}
      </div>
      <div class="blogPage_pars">
        <p>
          Dog owners of female dogs have a lot they have to know: How long will my female dog's heat cycle last? When does my female puppy reach maturity? Is she hitting maturity faster? Is she ready to have a litter of puppies? Is she easier to train than my neutered male?
        </p>
        <p>
          Whether your female dog is in heat, or ready to mate and breed or be spayed - she needs to be taken extra care of and given extra lovin's because things can get confusing for her. As her pet parent, it is your responsibility to know what is best for your female dog and what she can handle. In the articles below we discuss different things you need to know when caring for your female pup.
        </p>
      </div>
    </div>
    <div class="__section2-problem problem_blue">
      <p>Click below and choose the articles related to Female Dogs</p>
    </div>
  {% elsif canonical_url contains 'pawtect-your-home'%}
   <div class="pet-blog-IconSelection">
      <a href="https://petparentsbrand.com/products/dog-supplements">
        {{ 'pawtectyourhomenew.jpg?v=1624279421' |  file_img_url:'master' | img_tag:'_pawtect_your_home','pawtect your home'}}	
      </a>
    </div>
  {% elsif canonical_url contains ''%}
  {% else %}
  {% endif %}

</div>