<!--
{% if canonical_url contains 'dog-antlers' %}

<section class="websiteBottomAdvertisment">
  <div class="advertismentContent">
      <a href="https://petparentsbrand.com/pages/pet-parent-subscription">
      	{{ 'banner_9c68ee2d-cdfa-40be-b5ed-4e8558399683.png' |  file_img_url:'master' | img_tag:'_antlers','Antlers'}}
      </a>
  </div>
</section>

{% elsif canonical_url contains 'male-dog-wraps'%}
<section class="websiteBottomAdvertisment">
  <div class="advertismentContent">
      <a href="https://petparentsbrand.com/pages/pet-parent-subscription">
      	{{ 'banner_9c68ee2d-cdfa-40be-b5ed-4e8558399683.png' |  file_img_url:'master' | img_tag:'_male_bellyband','Belly Band'}}
      </a>
  </div>
</section>
{% elsif canonical_url contains 'breeding-dogs'%}
<section class="websiteBottomAdvertisment">
  <div class="advertismentContent">
      <a href="https://petparentsbrand.com/pages/pet-parent-subscription">
      	{{ 'banner_9c68ee2d-cdfa-40be-b5ed-4e8558399683.png' |  file_img_url:'master' | img_tag:'_breeding','Breeding'}}
      </a>
  </div>
</section>
{% elsif canonical_url contains 'cat-diapers'%}
<section class="websiteBottomAdvertisment">
  <div class="advertismentContent">
      <a href="https://petparentsbrand.com/pages/pet-parent-subscription">
      	{{ 'banner_9c68ee2d-cdfa-40be-b5ed-4e8558399683.png' |  file_img_url:'master' | img_tag:'_Cat_Diaper','Cat Diaper'}}
      </a>
  </div>
</section>
{% elsif canonical_url contains 'cat-spray'%}
<section class="websiteBottomAdvertisment">
  <div class="advertismentContent">
      <a href="https://petparentsbrand.com/pages/pet-parent-subscription">
      	{{ 'banner_9c68ee2d-cdfa-40be-b5ed-4e8558399683.png' |  file_img_url:'master' | img_tag:'_Cat_Spray','Cat Spray'}}
      </a>
  </div>
</section>
{% elsif canonical_url contains 'dog-crate'%}
<section class="websiteBottomAdvertisment">
  <div class="advertismentContent">
      <a href="https://petparentsbrand.com/pages/pet-parent-subscription">
      	{{ 'banner_9c68ee2d-cdfa-40be-b5ed-4e8558399683.png' |  file_img_url:'master' | img_tag:'_Dog_Crate','Dog Crate'}}
      </a>
  </div>
</section>
{% elsif canonical_url contains 'dog-diapers'%}
<section class="websiteBottomAdvertisment">
  <div class="advertismentContent">
      <a href="https://petparentsbrand.com/pages/pet-parent-subscription">
      	{{ 'banner_9c68ee2d-cdfa-40be-b5ed-4e8558399683.png' |  file_img_url:'master' | img_tag:'_Dog_diapers','Dog Diapers'}}
      </a>
  </div>
</section>
{% elsif canonical_url contains 'female-dogs'%}
<section class="websiteBottomAdvertisment">
  <div class="advertismentContent">
      <a href="https://petparentsbrand.com/pages/pet-parent-subscription">
      	{{ 'banner_9c68ee2d-cdfa-40be-b5ed-4e8558399683.png' |  file_img_url:'master' | img_tag:'_Female_Dogs','Female Dogs'}}
      </a>
  </div>
</section>
{% elsif canonical_url contains ''%}
{% else %}
{% endif %}-->
  <div class="advertismentContent">
      <a href="https://petparentsbrand.com/pages/pet-parent-subscription">
      	{{ '23_SubBanners_Pet_Parents_Website_1280_B2C_Revamp_1.png' |  file_img_url:'master' | img_tag:'_Female_Dogs','Female Dogs'}}
      </a>
  </div>