<!doctype html>
<html lang="en">
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js"> <!--<![endif]-->
  	<head><script>
/* >> TriplePixel :: start*/
~function(W,H,A,L,E,_){function O(T,R){void 0===R&&(R=!1),H=new XMLHttpRequest,H.open("GET","//triplewhale-pixel.web.app/triplepx.txt?"+~(Date.now()/9e7),!0),H.send(null),H.onreadystatechange=function(){4===H.readyState&&200===H.status?setTimeout(function(){return eval(H.responseText)},50):(299<H.status||H.status<200)&&T&&!R&&(R=!0,O(T-1))}}if(L=window,!L[H+"sn"]){L[H+"sn"]=1;try{A.setItem(H,1+(0|A.getItem(H)||0)),W.includes("⇈")&&A.setItem(H+"Stg",1+(0|A.getItem(H+"Stg")||0)),(E=JSON.parse(A.getItem(H+"U")||"[]")).push(location.href),A.setItem(H+"U",JSON.stringify(E))}catch(e){}A.getItem('"!nC`')||(A=L,A[H]||(L=function(){return Date.now().toString(36)+"_"+Math.random().toString(36)},E=A[H]=function(t,e){return W=L(),(E._q=E._q||[]).push([W,t,e]),E._headless=!0,W},E.ch=W,O(5)))}}("","TriplePixel",localStorage);
/* << TriplePixel :: end*/
</script>

		<!-- PAGESPEED GURU OPTIMIZED /11/16/2018 11:51:00 AM -->
		<meta name="google-site-verification" content="r-VsmXAVHA7fHtBssGdTo5_xx-e5mZXlY6EerSx6wXA">
      	<!-- Faceebook verification meta code -->
      	<meta name="facebook-domain-verification" content="gvfpiow6qtnrqcpwldlmefyetvbh8s" /> 
		<!-- Basic page needs -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		{% if settings.favicon %}
			<link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
		{% endif %}
		<!-- Title and description-->
		{% capture title %}
      		<title>
                {% if template contains 'index' %}
                    {{ shop.name }}
                {% else %}
                    {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %} {% if article %}| Pet Parents®{% endif %}
                {% endif %}
                {% if template contains 'collection' %}| Pet Parents®{% endif %}
                {% if canonical_url contains 'account/login' %}| Pet Parents® - Healthy Pets. Happy Family.®{% endif %}
			</title>
      	{% endcapture %}
        {{ title }}
		{% if page_description %}
			{% if canonical_url contains 'tagged' %}
				{% include 'tagged-meta', c_url:canonical_url %}
			{% else %}
				<meta name="description" content="{{ page_description | escape }}">
			{% endif %}
		{% endif %}
		{% if canonical_url contains 'wholesale/tagged' %}
			{% include 'wholesale-tagged-meta', c_url:canonical_url %}
		{% endif %}
		<!-- Google Tag Manager -->
		<script type="lazyload2">(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-TQHPBWX');</script>
        <!-- End Google Tag Manager -->
      	<!-- Global site tag (gtag.js) - Google Analytics -->
        <script type="lazyload2" data-src="https://www.googletagmanager.com/gtag/js?id=UA-63196059-2"></script>
        <script type="lazyload2">
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'UA-63196059-2');
        </script>
      <!-- Global site tag (gtag.js) - Google Ads: 873066568 -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=AW-873066568"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'AW-873066568');
        </script>

		<!-- Helpers -->
		{% include 'social-meta-tags' %}
		<link rel="canonical" href="{{ canonical_url }}">
		{%- assign ListArr = 'https://petparentsbrand.com/blogs/learning-center,https://petparentsbrand.com/products/pet-parents-tshirt,https://petparentsbrand.com/pages/contact-us,https://petparentsbrand.com/pages/email-offer-1,https://petparentsbrand.com/pages/email-offer-2,https://petparentsbrand.com/pages/form,https://petparentsbrand.com/pages/our-policies,https://petparentsbrand.com/search,https://petparentsbrand.com/search?q=gnawtlers' -%}
		{%- assign List = ListArr | split:',' -%}
		{%- for noindexURL in List  -%}
			{%- if canonical_url == noindexURL -%}<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">{%- endif -%}
		{%- endfor -%}
		<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
		<meta name="theme-color" content="{{ settings.color_primary }}">

		<!-- CSS-->
		{% comment %}
		{% include 'guru-font-awesome_min_css' %}
		{% include 'guru-timber_scss_css' %}
		{% include 'guru-petparents_css' %}  
      	{% endcomment %}
      	
		{% render 'theme-all-css' %}
      	{% render 'theme-all-css-2' %}
      	{% render 'theme-all-css-3' %}
      	{% if template contains 'product' %}
			{% render 'product-css' %}
		{% endif %}
      	{% render 'header-footer-css' %}
        <link rel="stylesheet" data-href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <link rel="stylesheet" data-href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      	<link rel="stylesheet" data-href="{{ 'custom.css' | asset_url }}">
      	<link rel="stylesheet" data-href="{{ 'timber.scss.css' | asset_url }}">
      	<link rel="stylesheet" data-href="{{ 'theme.scss.css' | asset_url }}">
		<link rel="stylesheet" data-href="{{ 'petparents.css' | asset_url }}">
      	<link rel="stylesheet" data-href="{{ 'flexslider.css' | asset_url }}">
      	<link rel="stylesheet" data-href="{{ 'flexslider-rtl-min.css' | asset_url }}">
		<link rel="stylesheet" data-href="{{ 'flexslider-rtl.css' | asset_url }}">
      	<link rel="stylesheet" data-href="{{ 'responsive.css' | asset_url }}">
      	<link rel="stylesheet" data-href="{{ 'slick.css' | asset_url }}">
		<link rel="stylesheet" data-href="{{ 'slick-theme.css' | asset_url }}">
		{% if template contains 'product' %}
      		<link rel="stylesheet" data-href="{{ 'product.scss.css' | asset_url }}">
		{% endif %}
		{% include 'guru-googlefont-ed2302c4-5c8d-4089-a46b-3e5c46177d1d' %}
		<style>@media only screen and (min-width:100px) and (max-width:767px){.site-header .medium-down--one-half{width:100%}.site-nav,.site-nav--open{opacity:1 !important}.TopMenu{z-index:1;display:none;width:100%;position:absolute;top:90px;background:#00b6bd;left:0;right:0}#menu-top{border:1px solid #333;width:auto;display:block;padding:8px 15px;float:right}#menu-top i{color:#ec1d3d}.logo_div{display:flex;justify-content:space-around;align-items:center}.TopMenu ul li{padding:15px 30px;width:100%;border-bottom:1px solid #0d9ea2}.TopMenu ul li a{color:#fff;font-size:16px}.whole_logo{padding:20px 30px}.logo_div img{width:100%;max-width:160px}.top_header{padding:10px 0 0}.LoginText{margin-top:0}.BannerText{padding-left:0}h2.HeadingSize{font-size:32px}.RedButton{height:auto;line-height:40px;padding:0 15px;font-size:18px}.CommitmentSection .Commitment{padding:50px 20px 50px}.BlogSection{padding:70px 0 50px}.BlogSection .HeadingSize{line-height:45px}.blogpost img{width:100%;max-width:250px;margin:50px auto 0 auto}.BlogSection .BannerText{padding-top:0;text-align:center}.row{flex-direction:column}.pp-1,.pp-10,.pp-11,.pp-12,.pp-2,.pp-3,.pp-4,.pp-5,.pp-6,.pp-7,.pp-8,.pp-9{width:100%}section.joinUsBanner img{object-fit:cover;object-position:right}.quickLink{font-size:16px;line-height:1.5}ul.workList{list-style:none;padding-left:0}.workOffer{padding-left:0;text-align:center;display:block}.workOfferIcon img{margin:0 auto}.workOfferIcon{width:100%}.joinContactBtn{display:block}.joinContactBtn a{display:block;margin-bottom:15px}.bannerTitle h3{font-size:31px}section.contactUs{padding:0}.contactContent{display:block}.contactForm{padding-top:20px}.questionContent{display:block}.pawContent{top:27%;left:30px}.pawBannIcon img{max-width:40px}.pawBannText{padding-left:10px}.pawBannText h3{font-size:30px;margin:5px 0;line-height:1.1}.modal-content{width:90%!important;background-size:contain!important}.modal-body{max-width:45%!important;top:10px!important;right:31px!important}.modalLogo img{width:100%!important;max-width:80px!important}.modalText .contactField input{font-size:10px!important;margin-bottom:0!important;padding:10px 20px!important}.modalText p{font-size:13px!important;margin-bottom:5px!important}.logInBtn{font-size:10px!important;line-height:20px!important}.modal-header span{font-size:24px!important;width:40px!important;height:40px!important;line-height:40px!important}.modal-header{right:-6px!important;top:36px!important}}.mobile_seen_cont_container{display: none;}.site-header__logo img{width:auto;height:auto;float:left;position:relative;padding:0}</style>
		<!-- Sections-->
		<script type="lazyload2" data-src="https://www.googleoptimize.com/optimize.js?id=OPT-PFZ7DLZ"></script>
      	<script type="lazyload2" data-src="https://www.googleoptimize.com/optimize.js?id=OPT-M29QJT6"></script>
      	<script type="lazyload2" data-src="https://www.googleoptimize.com/optimize.js?id=OPT-MZS8ZJX"></script>
      	<script type="lazyload2" data-src="https://www.googleoptimize.com/optimize.js?id=OPT-MBRDBG6"></script>
		<script>
			window.theme = window.theme || {};
			theme.strings = {
				zoomClose: {{ "products.zoom.close" | t | json }},
				zoomPrev: {{ "products.zoom.prev" | t | json }},
				zoomNext: {{ "products.zoom.next" | t | json }},
				moneyFormat: {{ shop.money_format | json }},
				addressError: {{ 'home_page.map.address_error' | t | json }},
				addressNoResults: {{ 'home_page.map.address_no_results' | t | json }},
				addressQueryLimit: {{ 'home_page.map.address_query_limit_html' | t | json }},
				authError: {{ 'home_page.map.auth_error_html' | t | json }},
				cartEmpty: {{ 'cart.general.empty' | t | json }},
				cartCookie: {{ 'cart.general.cookies_required' | t | json }},
				cartSavings: {{ 'cart.general.savings_html' | t: price: '[savings]' | json }},
				soldOut: "Sold Out",
				unavailable: "Unavailable",
                addToCart: "Add to Cart"
			};
			theme.settings = {
				cartType: {{ settings.cart_type | json }},
				gridType: {{ settings.collection_products_grid | json }}
			};
          {% assign temp = template | split:'.' | first %}
          {% if  temp == 'product' %}
          	theme.productData = {
              selected : {{product.selected_or_first_available_variant | map: 'id' }},
              options  : {{ product.options_with_values | json }},
              vars : {{product.variants | json }}
            };
          {% endif %}
		</script>
		{% include 'guru-script-jquery-2_2_3_min_js' %}
		<script type="lazyload2" data-src="{{ 'jquery.flexslider-min.js' | asset_url }}"></script>
		<script type="lazyload2" data-src="{{ 'lazysizes.min.js' | asset_url }}"></script>
		<script type="lazyload2" data-src="{{ 'theme.js' | asset_url }}"></script>
		<!-- Header hook for plugins-->
        {%- if request.design_mode or template contains 'cart' or template contains 'checkout' -%}
            {{ content_for_header }}
        {%- else -%}
            {% capture content_for_header2 %}{{ content_for_header }}{% endcapture %}
            {{ content_for_header2 | replace: ' defer="defer" ', ' type="lazyload2" ' | replace: " src=", " data-src=" | replace: "window.addEventListener('load', asyncLoad, false);", "window.addEventListener('wnw_load', asyncLoad, false);" | replace: "DOMContentLoaded", "DOMContentLoaded2" }}
            <script>var trekkie=[];trekkie.integrations=!0;</script>
        {%- endif -%}
      
      	{% include 'oldIE-js' %}
		{% include 'guru-script-modernizr_min_js' %}
		{% if template.directory == 'customers' %}
			{{ 'shopify_common.js' | shopify_asset_url | script_tag }}
		{% endif %}
		<!-- PAGESPEED GURU THEME EDITOR CONVERSION -->
		<script type="lazyload2">
			function loadAsyncStyleSheets() {
				var head = document.getElementsByTagName('head')[0];
				var asyncStyleSheets = [
					"{{ 'theme.scss.css' | asset_url }}",
					"{{ 'timber.scss.css' | asset_url }}"
				]
				for (var i = 0; i < asyncStyleSheets.length; i++) {
					var link = document.createElement('link');
					var rel = document.createAttribute('rel');
					var href = document.createAttribute('href');
					rel.value = 'stylesheet';
					href.value = asyncStyleSheets[i];
					link.setAttributeNode(rel);
					link.setAttributeNode(href);
					head.appendChild(link);
				}
			}
			window.addEventListener('load', loadAsyncStyleSheets, false);
		</script>
		<style>.product--image.lazyload{opacity:1}</style>
      	<!-- Stamped - Begin Script-->
		<script type="lazyload2" data-api-key="pubkey-1Ji05FR0ALc1UgGF7L447934XEH33B" id="stamped-script-widget" data-src="https://cdn-stamped-io.azureedge.net/files/widget.min.js"></script>
		<!-- Stamped - End Script -->
      	<script>$(this).html().replace("Pawtect™","Pawtect<sup>®</sup>")</script>
      	<script type="lazyload2">(function(w,d,t,r,u){var f,n,i;w[u]=w[u]||[],f=function(){var o={ti:"134595017"};o.q=w[u],w[u]=new UET(o),w[u].push("pageLoad")},n=d.createElement(t),n.src=r,n.async=1,n.onload=n.onreadystatechange=function(){var s=this.readyState;s&&s!=="loaded"&&s!=="complete"||(f(),n.onload=n.onreadystatechange=null)},i=d.getElementsByTagName(t)[0],i.parentNode.insertBefore(n,i)})(window,document,"script","//bat.bing.com/bat.js","uetq");</script>
      	{% if template contains 'product' %}
      		<link data-href="https://vjs.zencdn.net/7.17.0/video-js.css" rel="stylesheet" />
      	{% endif %}
      	
	</head>
        {% assign c_id = 0 %}
        {% if template contains 'product' %}
            {% assign c_id = product.id %}
        {% elsif template contains 'page' %}
            {% assign c_id = page.id %}
        {% elsif template contains 'article' %}
            {% assign c_id = article.id %}
        {% else %}
            {% assign c_id = collection.id %}
        {% endif %}
      	<link rel="stylesheet" data-href="{{ 'header-footer.css' | asset_url }}" />
	<body data-head-to-cart="{{settings.move_to_cart}}" data-dis-drawer="{{settings.disable_drawer}}" data-update-atc="{{settings.update_atc}}" date-tempName="{{template}}" data-layout="themeX" data-id="{{ c_id }}" id="{{ page_title | handle }}" class="loading {% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }} template-{{ template | handle }}" data-head-to-cart="{{settings.move_to_cart}}" data-dis-drawer="{{settings.disable_drawer}}" data-update-atc="{{settings.update_atc}}">	
		<!-- Google Tag Manager (noscript) -->
      	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TQHPBWX" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->	
      	<script type="lazyload2">!function(e,t,n){function a(){var e=t.getElementsByTagName("script")[0],n=t.createElement("script");n.type="text/javascript",n.async=!0,n.src="https://beacon-v2.helpscout.net",e.parentNode.insertBefore(n,e)}if(e.Beacon=n=function(t,n,a){e.Beacon.readyQueue.push({method:t,options:n,data:a})},n.readyQueue=[],"complete"===t.readyState)return a();e.attachEvent?e.attachEvent("onload",a):e.addEventListener("load",a,!1)}(window,document,window.Beacon||function(){});</script>
		<script type="lazyload2">window.Beacon('init', '1e408e71-d6e6-4bcd-ae7c-0d52eba424a8')</script>
		<!-- main wrappper div -->
		<div class="sf_wrapper">
			<!-- mobile menu drawer start here -->
			<div id="NavDrawer" class="drawer drawer--left">{% section 'drawer-menu' %}</div>
			<!-- mobile menu drawer ends here -->
			<!-- slideout cart drawer start here -->
			<div id="CartDrawer" class="drawer drawer--right drawer--has-fixed-footer">
				<div class="drawer__fixed-header">
					<div class="drawer__header">
						<div class="drawer__title">
                          <h3>Your Cart</h3>
                        </div>  
						<div class="drawer__close">
							<button type="button" class="icon-fallback-text drawer__close-button js-drawer-close">
								<span class="icon icon-x" aria-hidden="true"></span>
								<span class="fallback-text">{{ 'cart.general.close_cart' | t }}</span>
							</button>
						</div>                   
            	  </div>
					</div>
				<div class="drawer__inner">
					<div id="CartContainer" class="drawer__cart"></div>
				</div>
			</div>
			<!-- slideout cart drawer ends here -->
			<div id="PageContainer" class="page-container">
				{% section 'header' %}
				{% if template.name == "index" %}
					{% section 'slideshow' %}
				{% endif %}
				<main class="main-content" role="main">
                   {% if template contains 'product' %}
                  	<h1 class="sf_h1_heading">Product</h1>
					{% endif %}
					<!-- snippet/tagged-description.liquid -->
					{% section 'topHomeOffSubscription' %}	
                  
					{% comment %}
                  		{% if canonical_url contains 'petblog/tagged' %}
							{% include 'tagged-description', c_url:canonical_url %}
						{% endif %}
                  	{% endcomment %}
                  
					{% unless template.name == "index" or template == "collection.image" %}
					<div class="_wrapper_sf">
					{% endunless %}
					{{ content_for_layout }}
					{% unless template.name == "index" or template == "collection.image" %}
					</div>
					{% endunless %}
				</main>
				{% if template contains 'furniture-blanket'  %}
					{% section 'homepage--look-a-like' %}
				{% endif %}
              
				{% comment %}
                  {% if canonical_url contains 'petblog/tagged' %}
                      {% include 'tagged-footer-banner', c_url:canonical_url %}
                  {% endif %}
              	{% endcomment %}
              
				{% section 'footer' %}
			</div>
		</div><!-- end of wrapper div -->
		<script>
			{% if resetPassword %}
				$(function() { timber.resetPasswordSuccess(); });
			{% endif %}
		</script>
		<!-- cart type drawer -->
		{% if settings.cart_type == 'drawer' %}{% include 'ajax-cart-template' %}{% endif %}
		{% if template.name == 'product' or template.name == 'index' %}
      	{% if product.id == 6050703999166 or product.id == 6087189332158 %}
      		{% capture AtcTect %}PREORDER{% endcapture %}
      	{% else %}
      		{% capture AtcTect %}{{ 'products.product.add_to_cart' | t | json }}{% endcapture %}
      	{% endif %}
		<script>
			theme.productStrings = {
                addToCart: {{AtcTect}},
				soldOut: {{ 'products.product.sold_out' | t | json }},
				unavailable: {{ 'products.product.unavailable' | t | json }}
			}
		</script>
		{% endif %}
		{% include 'sumo' %}
		<script type="application/javascript">
			var referrer   = encodeURIComponent( document.referrer ),
			landedPage = encodeURIComponent(window.location.href),
			pixelUrl   = "https://bettermetrics.co/track/?op=trak&uid=899&referrer=" + referrer + "page=" + landedPage;
			pixelScript      = document.createElement( "script" );
			pixelScript.type = "application/javascript";
			pixelScript.src  = pixelUrl;
			document.getElementsByTagName( "body" )[0].appendChild( pixelScript );
		</script>
		<script type="lazyload2">
			(function(h,i,v,e,s,d,k){h.HiveSDKObject=s;h[s]=h[s]||function(){(h[s].q=h[s].q||[]).push(arguments)},d=i.createElement(v),k=i.getElementsByTagName(v)[0];d.async=1;d.id=s;d.src=e+'?sef=1&r='+parseInt(new Date()/60000);k.parentNode.insertBefore(d,k)})(window,document,'script','https://cdn-prod.hive.co/static/js/sdk-loader.js','HIVE_SDK')
			HIVE_SDK('init', 121090);
			function onFormSubmitSuccess(){
				// you can use this function to do things when users sucessfully submit your form
			}
		</script>
		<script type="lazyload2">
			setTimeout(function(){
				if(window.location.href.indexOf("login") > -1 || window.location.href.indexOf("account") > -1 ) {
					$('.section-header').css('visibility','visible');
				}
				if(window.location.href.indexOf("online-training-program") > -1) {
					$('.section-header').css('visibility','visible');
					$('.section-header > h1').html('Wholesale Login');
				}
			}, 1000);
            $(document).on("click","span.sf_search_i",function(){
            $(".__top_login.RedblueSubscription").toggleClass("is_active");
            });
		</script>
		{% if template contains 'page' %}
		<script type="lazyload2">
			setTimeout(function(){
				$('.custom_reviews_slider1').flexslider({
					animation: "slide",
					slideshow: false,
					controlsContainer: $(".custom-controls-container-reviews"),
					customDirectionNav: $(".custom-navigation-reviews a")
				});
				$('.custom_reviews_slider2').flexslider({
					animation: "slide",
					slideshow: false,
					controlsContainer: $(".custom-controls-container-bands"),
					customDirectionNav: $(".custom-navigation-bands a")
				});
				$('.custom_reviews_slider3').flexslider({
					animation: "slide",
					slideshow: false,
					controlsContainer: $(".custom-controls-container-dogs"),
					customDirectionNav: $(".custom-navigation-dogs a")
				});
				$('.custom_reviews_slider4').flexslider({
					animation: "slide",
					slideshow: false,
					controlsContainer: $(".custom-controls-container-cats"),
					customDirectionNav: $(".custom-navigation-cats a")
				});
				$('.custom_reviews_slider5').flexslider({
					animation: "slide",
					slideshow: false,
					controlsContainer: $(".custom-controls-container-gnawtlers"),
					customDirectionNav: $(".custom-navigation-gnawtlers a")
				});
				$('.custom_reviews_slider6').flexslider({
					animation: "slide",
					slideshow: false,
					controlsContainer: $(".custom-controls-container-furniture"),
					customDirectionNav: $(".custom-navigation-furniture a")
				});
				$('.custom_reviews_slider7').flexslider({
					animation: "slide",
					slideshow: false,
					controlsContainer: $(".custom-controls-container-peepads"),
					customDirectionNav: $(".custom-navigation-peepads a")
				});
				$('.custom_reviews_sliderallergy').flexslider({
					animation: "slide",
					slideshow: false,
					controlsContainer: $(".custom-controls-container-reviewsallergy"),
					customDirectionNav: $(".custom-navigation-reviewsallergy a")
				});
				$('.custom_reviews_sliderbladder').flexslider({
					animation: "slide",
					slideshow: false,
					controlsContainer: $(".custom-controls-container-reviewsbladder"),
					customDirectionNav: $(".custom-navigation-reviewsbladder a")
				});
				$('.custom_reviews_slidercalming').flexslider({
					animation: "slide",
					slideshow: false,
					controlsContainer: $(".custom-controls-container-reviewscalming"),
					customDirectionNav: $(".custom-navigation-reviewscalming a")
				});
				$('.custom_reviews_sliderhipjoint').flexslider({
					animation: "slide",
					slideshow: false,
					controlsContainer: $(".custom-controls-container-reviewshipjoint"),
					customDirectionNav: $(".custom-navigation-reviewshipjoint a")
				});
				$('.custom_reviews_slidermultivitamin').flexslider({
					animation: "slide",
					slideshow: false,
					controlsContainer: $(".custom-controls-container-reviewsmultivitamin"),
					customDirectionNav: $(".custom-navigation-reviewsmultivitamin a")
				});
				$('.custom_reviews_sliderprobiotic').flexslider({
					animation: "slide",
					slideshow: false,
					controlsContainer: $(".custom-controls-container-reviewsprobiotic"),
					customDirectionNav: $(".custom-navigation-reviewsprobiotic a")
				});
				$('.custom_reviews_sliderskincoat').flexslider({
					animation: "slide",
					slideshow: false,
					controlsContainer: $(".custom-controls-container-reviewsskincoat"),
					customDirectionNav: $(".custom-navigation-reviewsskincoat a")
				});
				$('.custom_reviews_sliderturmeric').flexslider({
					animation: "slide",
					slideshow: false,
					controlsContainer: $(".custom-controls-container-reviewsturmeric"),
					customDirectionNav: $(".custom-navigation-reviewsturmeric a")
				});
				$(window).trigger('resize');
			}, 1000);
            
		</script>
		{% endif %}
		<!-- Begin ReCharge code -->
		{% include 'subscription-theme-footer' %}
		<!-- End ReCharge code -->
		
		{% if settings.sticky_cart and template contains 'product' %}
			{% render 'pet-sticky-bar' %}
		{%  endif %}
		{% if template contains 'product' %}
        <style>
          #videoControl{
            width:100%;height: 550px !important;
          }
          .vjs-big-play-button{
            display:none !important;
          } 
          .vjs-poster {
            background-size: cover;
          }
        </style>
        <script type="lazyload2" data-src="https://vjs.zencdn.net/7.17.0/video.min.js"></script>
        <script>
          window.addEventListener('load', function(){
            document.body.classList.remove('loading');
          });         

        </script>
        {% endif %}
    {% include 'stamped-rewards-init' %}
 {% render 'oneclickupsellapp-theme', oneclickupsellapp: oneclickupsellapp %}
{% assign oneclickupsellapp = true %}
	</body>
</html>
<script src="{{ 'wnw-optimization.js' | asset_url }}"></script>