<!-- As Seen Now  -->
<div class="asSeenNow" id="as_Seen">
	<div class="asSeenNow container-above">
		<h6>AS SEEN ON</h6>
		<div class="desktop_seen_cont_container">
			<div class="seen_cont top_seen_section">
				<div class="__imgleft is_sf_img">
					{% if section.settings.treatIconTop1 %}
						<img class="lazy2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{ section.settings.treatIconTop1  | img_url: 'master' }} " alt ="useCase">
					{% endif %}
				</div>
				<div class="__imgleft2 is_sf_img">
					{% if section.settings.treatIconTop2 %}
						<img class="lazy2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{ section.settings.treatIconTop2  | img_url: 'master' }} " alt ="useCase">
					{% endif %}
				</div>
				<div class="__imgryt is_sf_img">
					{% if section.settings.treatIconTop3 %}
						<img class="lazy2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{ section.settings.treatIconTop3  | img_url: 'master' }} " alt ="useCase">
					{% endif %}
				</div>
              <div class="__imgleft is_sf_img">
					{% if section.settings.treatIconTop4 %}
						<img class="lazy2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{ section.settings.treatIconTop4  | img_url: 'master' }} " alt ="useCase">
					{% endif %}
		 	 </div>
            <div class="__imgleft is_sf_img bustle">
					{% if section.settings.treatIconTop9 %}
						<img class="lazy2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{ section.settings.treatIconTop9  | img_url: 'master' }} " alt ="useCase">
					{% endif %}
		 	 </div>
              
              
			</div>
			<div class="seen_cont bottom_seen_section">
				<div class="__imgleft2 is_sf_img">
					{% if section.settings.treatIconTop5 %}
						<img class="lazy2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{ section.settings.treatIconTop5  | img_url: 'master' }} " alt ="useCase">
					{% endif %}
				</div>
				<div class="__imgryt is_sf_img">
					{% if section.settings.treatIconTop6 %}
						<img class="lazy2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{ section.settings.treatIconTop6  | img_url: 'master' }} " alt ="useCase">
					{% endif %}
				</div>
				<div class="__imgryt is_sf_img">
					{% if section.settings.treatIconTop7 %}
						<img class="lazy2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{ section.settings.treatIconTop7  | img_url: 'master' }} " alt ="useCase">
					{% endif %}
				</div>
              <div class="__imgryt is_sf_img">
					{% if section.settings.treatIconTop8 %}
                <a href="https://petsplusmag.com/" target="_blank"><img class="lazy2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{ section.settings.treatIconTop8  | img_url: 'master' }} " alt ="useCase"></a>
					{% endif %}
			   </div>
               <div class="__imgryt is_sf_img">
					{% if section.settings.treatIconTop10 %}
                <a href="https://petsplusmag.com/" target="_blank"><img class="lazy2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{ section.settings.treatIconTop10  | img_url: 'master' }} " alt ="useCase"></a>
					{% endif %}
			   </div>
              
              
              
			</div>
		</div>
		<div class="mobile_seen_cont_container">
          <img class="lazy2" src="{{ 'mobile_banners.png' | asset_url }}">
		</div>
	</div>
		<div class="desktopSection">
		 <div class="asSeenNow container-down">
		  <div class="asSeenNowBotImage">
			  {% if section.settings.treatIconBot2 %}
				  <img class="lazy2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{ section.settings.treatIconBot2  | img_url: 'master' }} " alt ="useCase">
			  {% endif %}
		  </div>
		  <div class="asSeenNowBotRytCont">
			  <!-- <h2>Join the family</h2> -->
			  <script type="lazyload2" data-src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=RSmk2g"></script>
			  <div class="klaviyo-form-XrSmGW" id="form_seen_now"></div>
			  <!--
				  <h5><b>{{section.settings.seenBottcontent1}}</b></h5>
				  <p>{{section.settings.seenBottcontent2}}</p>
				  <div class="treatBtn">
					  <div class="learnMoreBtn">
						  <a href="{{ section.settings.treat_button_link2 }}" class="RedButton">{{ section.settings.treat_button_name2 }}</a>
					  </div>
				  </div>
			  -->
		  </div>
		</div>
	   </div>
	  <div class="mobileSection">
		 <div class="asSeenNow container-down">
		  <div class="asSeenNowBotImage">
			  {% if section.settings.treatIconBot3 %}
				  <img class="lazy2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{ section.settings.treatIconBot3  | img_url: 'master' }} " alt ="useCase">
			  {% endif %}
		  </div>
		  <div class="asSeenNowBotRytCont">
			  <script type="lazyload2" data-src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=RSmk2g"></script>
			  <div class="klaviyo-form-XrSmGW" id="form_seen_now"></div>
		  </div>
		</div>
	  </div>
</div>
<!-- As Seen Now  -->
{% schema %}
{
	"name": "As Seen Now [HomePage]",
	"settings": [
		{"type":"header","content":"Top side"},
		{"type":"image_picker","id":"treatIconTop1","label":"Choose Image [1]"},
		{"type":"image_picker","id":"treatIconTop2","label":"Choose Image [2]"},
		{"type":"image_picker","id":"treatIconTop3","label":"Choose Image [3]"},
		{"type":"image_picker","id":"treatIconTop4","label":"Choose Image [4]"},
		{"type":"image_picker","id":"treatIconTop5","label":"Choose Image [5]"},
		{"type":"image_picker","id":"treatIconTop6","label":"Choose Image [6]"},
		{"type":"image_picker","id":"treatIconTop7","label":"Choose Image [7]"},
		{"type":"image_picker","id":"treatIconTop8","label":"Choose Image [8]"},
        {"type":"image_picker","id":"treatIconTop9","label":"Choose Image [9]"},
        {"type":"image_picker","id":"treatIconTop10","label":"Choose Image [10]"},
		{"type":"header","content":"Bottom side [Join Our Family]"},
		{"type":"image_picker","id":"treatIconBot2","label":"Choose Image"},
		{"type":"text","id":"seenBottcontent1","label":"Enter Headline"},
		{"type":"text","id":"seenBottcontent2","label":"Enter Sub-Content"},
		{"type":"text","id":"treat_button_name2","label":"Button Name"},
		{"type":"url","id":"treat_button_link2","label":"Button Link"},
		{"type":"header","content":"Bottom side [Join Our Family Mobile ]"},
		{"type":"image_picker","id":"treatIconBot3","label":"Choose Image"}
	],
	"presets": [{
		"name": "As Seen Now [HomePage]",
		"category": "Text"
	}]
}
{% endschema %}