{% render 'menu-css' %}
<link rel="stylesheet" data-href="{{ 'mmenu.css' | asset_url }}">
<link rel="stylesheet" data-href="{{ 'nav-menu.css' | asset_url }}">
<!-- div data-section-id="{{ section.id }}" data-section-type="drawer-menu-section">
  <div class="drawer__inner drawer-left__inner" id="is_mobile_menu">
    <ul class="mobile-nav">
      {% for link in linklists[section.settings.drawer_top_link_list].links %}
        {% if link.links != blank %}
          <li class="mobile-nav__item">
            <div class="mobile-nav__has-sublist">
              <a
                href="{{ link.url }}"
                class="mobile-nav__link"
                id="Label-{{ forloop.index }}"
                {% unless template.name == 'index' %}{% if link.active %}aria-current="page"{% endif %}{% endunless%}>{{ link.title | escape }}</a>
              <div class="mobile-nav__toggle">
                <button type="button" class="mobile-nav__toggle-btn icon-fallback-text" aria-controls="Linklist-{{ forloop.index }}" aria-expanded="false">
                  <span class="icon-fallback-text mobile-nav__toggle-open">
                    <span class="icon icon-plus" aria-hidden="true"></span>
                    <span class="fallback-text">{{ 'general.drawers.expand_submenu' | t }} {{ link.title | escape }}</span>
                  </span>
                  <span class="icon-fallback-text mobile-nav__toggle-close">
                    <span class="icon icon-minus" aria-hidden="true"></span>
                    <span class="fallback-text">{{ 'general.drawers.collapse_submenu' | t }} {{ link.title | escape }}</span>
                  </span>
                </button>
              </div>
            </div>
            <ul class="mobile-nav__sublist" id="Linklist-{{ forloop.index }}" aria-labelledby="Label-{{ forloop.index }}" role="navigation">
              {% assign parent_index = forloop.index %}
              {% for childlink in link.links %}
                {% if childlink.links != blank %}
                <li class="mobile-nav__item">
                  <div class="mobile-nav__has-sublist">
                    <a
                      href="{{ childlink.url }}"
                      class="mobile-nav__link"
                      id="Label-{{ parent_index }}-{{ forloop.index }}"
                      {% unless template.name == 'index' %}{% if link.active %}aria-current="page"{% endif %}{% endunless%}>
                        {{ childlink.title }}
                    </a>
                    <div class="mobile-nav__toggle">
                      <button type="button" class="mobile-nav__toggle-btn icon-fallback-text" aria-controls="Linklist-{{ parent_index }}-{{ forloop.index }}" aria-expanded="false">
                        <span class="icon-fallback-text mobile-nav__toggle-open">
                          <span class="icon icon-plus" aria-hidden="true"></span>
                          <span class="fallback-text">{{ 'general.drawers.expand_submenu' | t }} {{ link.title | escape }}</span>
                        </span>
                        <span class="icon-fallback-text mobile-nav__toggle-close">
                          <span class="icon icon-minus" aria-hidden="true"></span>
                          <span class="fallback-text">{{ 'general.drawers.collapse_submenu' | t }} {{ link.title | escape }}</span>
                        </span>
                      </button>
                    </div>
                  </div>
                  <ul class="mobile-nav__sublist mobile-nav__subsublist" id="Linklist-{{ parent_index }}-{{ forloop.index }}" aria-labelledby="Label-{{ parent_index }}-{{ forloop.index }}" role="navigation">
                    {% for grandchildlink in childlink.links %}
                      <li class="mobile-nav__item">
                        <a
                          href="{{ grandchildlink.url }}"
                          class="mobile-nav__link"
                          {% unless template.name == 'index' %}{% if grandchildlink.active %}aria-current="page"{% endif %}{% endunless%}>
                            {{ grandchildlink.title | escape }}
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                </li>
                {% else %}
                <li class="mobile-nav__item">
                  <a
                    href="{{ childlink.url }}"
                    class="mobile-nav__link"
                    {% unless template.name == 'index' %}{% if childlink.active %}aria-current="page"{% endif %}{% endunless%}>
                      {{ childlink.title | escape }}
                  </a>
                </li>
                {% endif %}
              {% endfor %}
            </ul>
          </li>

          {% else %}

          <li class="mobile-nav__item">
            <a
              href="{{ link.url }}"
              class="mobile-nav__link"
              {% unless template.name == 'index' %}{% if link.active %}aria-current="page"{% endif %}{% endunless%}>
                {{ link.title | escape }}
            </a>
          </li>

        {% endif %}
      {% endfor %}
      {% comment %}
        Spacer element
      {% endcomment %}
      <li class="mobile-nav__spacer"></li>

      {% comment %}
        If customer accounts are enabled, provide login and create account links
      {% endcomment %}
      {% if shop.customer_accounts_enabled %}
        {% if customer %}
          <li class="mobile-nav__item mobile-nav__item--secondary">
            <a href="/account">{{ 'layout.customer.account' | t }}</a>
          </li>
          <li class="mobile-nav__item mobile-nav__item--secondary">
            {{ 'layout.customer.log_out' | t | customer_logout_link }}
          </li>
        {% else %}
          <li class="mobile-nav__item mobile-nav__item--secondary">
            {{ 'layout.customer.log_in' | t | customer_login_link }}
          </li>
          <li class="mobile-nav__item mobile-nav__item--secondary">
            {{ 'layout.customer.create_account' | t | customer_register_link }}
          </li>
        {% endif %}
      {% endif %}
      {% for link in linklists[section.settings.drawer_bottom_link_list].links %}
        <li class="mobile-nav__item mobile-nav__item--secondary"><a href="{{ link.url }}">{{ link.title }}</a></li>
      {% endfor %}
    </ul>    
    <!-- //mobile-nav -->
    <!--/div>
</div-->
<nav id="is_mobile_menu"><span class="sf_close_btn">x</span>
<ul class="sf_main_ul">
{% for link in linklists[section.settings.drawer_top_link_list].links %}
        {% if link.links != blank %}
 		 <li><span>{{ link.title }}</span>
  			<ul class="sf_child_ul sf_child">
              {% for childlink in link.links %}
                {% if childlink.links != blank %}
              <li><span>{{ childlink.title }}</span>
              <ul class="sf_child_ul sf_grandchild">
                {% for grandchildlink in childlink.links %}
                 <li><a href="{{ grandchildlink.url }}">{{ grandchildlink.title }}</a></li>
                {% endfor %}                
                </ul>
              
              </li>
              {% else %}
              <li><a href="{{ childlink.url }}">{{ childlink.title }}</a></li>
               {% endif %}{% endfor %}
           </ul>
  
  		</li>	
		{% else %}	
			<li><a href="{{ link.url }}">{{ link.title }}</a></li>	
		 {% endif %}
{% endfor %}  
</ul>
</nav>

{% schema %}
  {
    "name": "Sidebar menu",
    "settings": [
      {
        "type": "link_list",
        "id": "drawer_top_link_list",
        "label": "Primary menu",
        "default": "main-menu"
      },
      {
        "type": "link_list",
        "id": "drawer_bottom_link_list",
        "label": "Additional menu",
        "default": "footer"
      }
    ]
  }
{% endschema %}
<script type="lazyload2" data-src="{{ 'mmenu.js' | asset_url }}"></script>
 <script type="lazyload2">
  setTimeout(function(){
                    new Mmenu( "#is_mobile_menu", 
    {"navbars": [
                          {
                             "position": "bottom",
                             "content": [
                                "<a href='/cart'><span class='menu_img'><img src='https://cdn.shopify.com/s/files/1/1355/5443/files/bag1.jpg' /></span>Cart</a>",
                                "<a href='/account'><span class='menu_img'><img src='https://cdn.shopify.com/s/files/1/1355/5443/files/bo2.jpg' /></span>Order</a>",
                                "<a target='_blank' href='https://petparents.helpscoutdocs.com'><span class='menu_img'><img src='https://cdn.shopify.com/s/files/1/1355/5443/files/ques.jpg' /></span>Help</a>"
                             ]
                          }
    ]});
                }
            );
        </script>