
<div class="newformatingSizeSection sf_newformatingSizeSection">
  <div class="product-blanket-regular-middle-content">
  {%- for block in section.blocks -%}
     {%- case block.type -%}
        {%- when 'titleBB' -%}
           {%- if block.settings.show_block and block.settings.text != blank  -%}
              <div class="Spec_Features_txt block-{{block.id}} text-{{block.settings.text_align}}" {{block.shopify_attributes}}>
                 {{- block.settings.text -}}
              </div>
              {%- style -%}
                 .block-{{block.id}}{ background-color:{{block.settings.bg_color}}; }
                 .block-{{block.id}} p{font-size:{{ block.settings.font_size }}px; padding:{{block.settings.specingUp}}px {{block.settings.specingDown}}px; color:{{block.settings.font_color}};letter-spacing:{{block.settings.letter-spacing}}px;margin: 0;} 
              {%- endstyle -%}
           {% endif -%}
        {% when 'content_with_imgBB' %}
           {% if block.settings.show_block %}
              <section {{block.shopify_attributes}} class="additional_sec_helpIssue pro_points block-{{block.id}} {% if block.settings.block_type == 'block_type' %}white_space{% endif %}" style="background-color:{{block.settings.block_bg}}!important;">
                <div class="container"> 
                  <div class="top_additional_sec_issue">
                      <div class="top_additional_sec_Img sf_top_additional_left_sec" style="background:{{-block.settings.img__per_bg_clr-}}">
                         {{ block.settings.topAddit_sec_Img  | img_url:'master' | img_tag:'block-img','img-responsive' }}
                      </div>
                      <div class="top_additional_sec_content listing_pnts sf_top_additional_right_sec">
                         <h1 class="header-{{block.id}} text-{{block.settings.text_align}}">{{-block.settings.headerText-}}</h1>
                          <div class="top_additional_sec_subcontent{% if block.settings.addit_rightcontent !=blank %} is_right_enab {% endif %}">
                            <div class="top_add_sec_leftcontent">{{-block.settings.addit_leftcontent-}}</div>
                           {% if block.settings.addit_rightcontent !=blank %}
                            <div class="top_add_sec_rightcontent">{{-block.settings.addit_rightcontent-}}</div>
                           {% endif %}
                         </div>
                      </div>      
                   </div>
                </div>
                {% if block.settings.addit_sec_paragraph != blank %}
                 <p class="sub_cod text-{{block.settings.add_txt_align}}">{{-block.settings.addit_sec_paragraph-}}</p>
                {% endif %}
              </section>
              {% style %}        
                 .additional_sec_helpIssue.block-{{block.id}}{ 
                    margin:{{block.settings.margn-up}}px {{block.settings.margn-dwn}}px !important; 
                    {% if block.settings.block_type == 'boxed' %}
                       width:{{ block.settings.width }}%;margin: 0 auto !important;
                    {% endif %}
                 }
                 {% if block.settings.img_align == 'right' %}
                    .block-{{block.id}} .top_additional_sec_Img{ order:1; }
                 {% endif %}
                 .header-{{block.id}}{
                    color: {{block.settings.headerTextColor}} !important;
                    font-size:{{block.settings.headerTextSize}}px !important;
                    letter-spacing:{{block.settings.ltr-spacing}}px !important;            
                 }         
              {% endstyle %}
           {% endif %}
        {% when 'cont_videoBB' %}
  			 {% if block.settings.enable_sec_video !=blank %}
                        <div class='embed-containerfg is_desktop_enble'> 
                         <video-js data-setup='{"controls": true, "autoplay": false, "preload": "auto"}' id="videoControl" class="video-js" width="100%" height="720" poster="https://cdn.shopify.com/s/files/1/1355/5443/{{-block.settings.video_poster-}}">
                           <source src="{{ block.settings.sec_video | asset_url }}" type="video/mp4">					
                        </video-js>
                        </div>
                        <div class='embed-containerfg is_mobile_enble'> 
                         <video-js data-setup='{"controls": true, "autoplay": false, "preload": "auto"}' id="videoControl" class="video-js" width="100%" height="720" poster="https://cdn.shopify.com/s/files/1/1355/5443/{% if block.settings.video_poster_m !=blank %}{{-block.settings.video_poster_m-}}{% else %}{{-block.settings.video_poster-}}{% endif %}">
                           <source src="{{ block.settings.sec_video | asset_url }}" type="video/mp4">					
                        </video-js>
                        </div>
              		{% endif %}  
            {% if block.settings.addit_sec_paragraph !=blank %}
              <div class="additional_sec_helpIssue pro_points never-secrifice" style="margin-top:0px; background-color:{{block.settings.addit_bg_color}} !important;">
                <div class="container">
                  <p class="sub_cod">{{block.settings.addit_sec_paragraph}}</p>
                </div>
              </div>
              {% endif %} 
        {% when 'sp_featureBB' %}
           {% if block.settings.show_block %}  
    <section class="sf_Special_Features_sec" style="background:{{ block.settings.block_bg_Spe}}">
			<div class="container">
              <div class="Special_Features">
	<div class="Special_Features_content">
		<div class="inner_text">
		<h3 spf_id="spc_ftu_1">{{ block.settings.featureTitle1}}</h3>
		<div id="spc_ftu_1" class="sf_c_content"><p>{{ block.settings.featureText1}}</p>		
		</div>{% if block.settings.featurePlusText1 != blank %}<p class="sf_plus_only">{{ block.settings.featurePlusText1}}</p>{% endif %}</div>
		<div class="inner_text">
		<h3 spf_id="spc_ftu_2">{{ block.settings.featureTitle2}}</h3>
		<div id="spc_ftu_2" class="sf_c_content"><p>{{ block.settings.featureText2}}</p>
		</div>{% if block.settings.featurePlusText2 != blank %}<p class="sf_plus_only">{{ block.settings.featurePlusText2}}</p>{% endif %}</div>
		<div class="inner_text">
		<h3 spf_id="spc_ftu_3">{{ block.settings.featureTitle3}}</h3>
		<div id="spc_ftu_3" class="sf_c_content"><p>{{ block.settings.featureText3}}</p>		
		</div>{% if block.settings.featurePlusText3 != blank %}<p class="sf_plus_only">{{ block.settings.featurePlusText3}}</p>{% endif %}</div>
		<div class="inner_text">
		<h3 spf_id="spc_ftu_4">{{ block.settings.featureTitle4}}</h3>
		<div id="spc_ftu_4" class="sf_c_content"><p>{{ block.settings.featureText4}}</p>		
		</div>{% if block.settings.featurePlusText4 != blank %}<p class="sf_plus_only">{{ block.settings.featurePlusText4}}</p>{% endif %}</div>
	</div>
	<div class="Special_Features_img" style="background:{{-block.settings.img__f_bg_clr-}}">
      	<img class="img-responsive lazy2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{ block.settings.featureRightImg | img_url: 'master' }}" alt="featureRightImg">
		
	</div>
     
</div>
	<div class="Special_Features_row">
	<div class="inner_text">
		<h3 spf_id="spc_ftu_5">{{ block.settings.featureTitle5}}</h3>
		<div id="spc_ftu_5" class="sf_c_content"><p>{{ block.settings.featureText5}}</p>		
		</div>{% if block.settings.featurePlusText5 != blank %}<p class="sf_plus_only">{{ block.settings.featurePlusText5}}</p>{% endif %}</div>
	<div class="inner_text">
		<h3 spf_id="spc_ftu_6">{{ block.settings.featureTitle6}}</h3>
		<div id="spc_ftu_6" class="sf_c_content"><p>{{ block.settings.featureText6}}</p>		
		</div>{% if block.settings.featurePlusText6 != blank %}<p class="sf_plus_only">{{ block.settings.featurePlusText6}}</p>{% endif %}</div>
	<div class="inner_text">
		<h3 spf_id="spc_ftu_7">{{ block.settings.featureTitle7}}</h3>
		<div id="spc_ftu_7" class="sf_c_content"><p>{{ block.settings.featureText7}}</p>		
		</div>{% if block.settings.featurePlusText7 != blank %}<p class="sf_plus_only">{{ block.settings.featurePlusText7}}</p>{% endif %}
      </div>
	<div class="inner_text{% if block.settings.is_chartbox %} is_chart_enable{% else %} is_chart_disable{% endif %}">
      {% if block.settings.is_chartbox %}
	<div class="icon_img">{% if block.settings.featureIcon %}{{ block.settings.featureIcon | img_url:'master' | img_tag:'featureIcon','img-responsive' }}
      {% endif %}</div>
		<p class="sf_icon_text">{% if block.settings.featureText8 %}{{ block.settings.featureText8}}{% endif %}</p>
      <div class="sf_TopToBootomSlide"><span>+</span></div>
      {% else %}
      <h3 spf_id="spc_ftu_8">{% if block.settings.featureTitle8 %}{{ block.settings.featureTitle8}}{% endif %}</h3>
		<div id="spc_ftu_8" class="sf_c_content"><p>{% if block.settings.featureTitle8 %}{{ block.settings.featureText8}}{% endif %}</p>		
		</div>{% if block.settings.featurePlusText8 != blank %}<p class="sf_plus_only">{{ block.settings.featurePlusText8}}</p>{% endif %}
      {% endif %}
       </div>
	</div>	
      {% if block.settings.BlanketCImg != blank %}
       <div class="sf_imgges">
        {{ block.settings.BlanketCImg | img_url:'master' | img_tag:'BlanketCImg','img-responsive' }}
         <span class="sf_bootomTotopSlide"><i class="fa fa-angle-left" aria-hidden="true"></i>

</span></div>
      {% endif %}
      </div>
</section>   
  			{% style %}
  		.__PeePadUse.block-{{block.id}} .row.row_iconic{ margin:0 auto;}
  			  {% endstyle %}
           {% endif %}
        {% when 'ProductImageTwoBB' %}
      {% if block.settings.show_block %}
    <section class="pb_slider_{{block.id}} sss_slider">
    <h3 class="forEveryNeed sliderEveryNeed">{{ block.settings.slidertextBB }}</h3>
              <div class="sf_PawtectBlanketSlider5" id="PawtectBlanketSlider5">    
                 {% if block.settings.prodBanner1 != blank %}
                <div class="bc_slide"><img class="img-responsive lazy2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{ block.settings.prodBanner1 | img_url:'master' }}" alt="prodBanner1"></div>
                {% endif %}
                {% if block.settings.prodBanner2 != blank %}
                <div class="bc_slide"><img class="img-responsive lazy2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{ block.settings.prodBanner2 | img_url:'master' }}" alt="prodBanner2"></div>
                {% endif %}
                {% if block.settings.prodBanner3 != blank %}
                <div class="bc_slide"><img class="img-responsive lazy2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{ block.settings.prodBanner3 | img_url:'master' }}" alt="prodBanner3"></div>
                {% endif %}
                {% if block.settings.prodBanner4 != blank %}
                <div class="bc_slide"><img class="img-responsive lazy2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{ block.settings.prodBanner4 | img_url:'master' }}" alt="prodBanner4"></div>
                {% endif %}
                {% if block.settings.prodBanner5 != blank %}
                <div class="bc_slide"><img class="img-responsive lazy2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{ block.settings.prodBanner5 | img_url:'master' }}" alt="prodBanner5"></div>
                {% endif %}
                {% if block.settings.prodBanner6 != blank %}
                <div class="bc_slide"><img class="img-responsive lazy2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{ block.settings.prodBanner6 | img_url:'master' }}" alt="prodBanner6"></div>
                {% endif %}
                {% if block.settings.prodBanner7 != blank %}
                <div class="bc_slide"><img class="img-responsive lazy2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{ block.settings.prodBanner7 | img_url:'master' }}" alt="prodBanner7"></div>
                {% endif %}
              </div>
    </section>
           {% endif %}       
        {% when 'advt_blockBB' %}
           {% if block.settings.show_block %}
              <section class="ProductRelatedAdvertisement last_banner_pro pee_pad_mtop adv-block-{{block.id}} {% if block.settings.specialProdAdvetImgmobile %} desktopSection {% endif %}">
                 <div class="container">
                    <div class="row">
                    <div class="pp-6">
                       <div class="leftRelatedAdvert">
                          <h4 style="color:{{block.settings.headlineColor}} !important;">{{-block.settings.specialProdAdvet-}}</h4>
                          {{-block.settings.specialProdAdvetImg | img_url:'master' | img_tag:'img','pro-img'-}}
                       </div>
                    </div>
                    <div class="pp-6">
                       <div class="rightRelatedAdvert">
                          <h4 style="color:{{block.settings.headlineColor2}} !important;">{{-block.settings.specialProdAdvetHead-}}</h4>
                          {% if block.settings.specialProdAdvetImg2 %}
                             {{ block.settings.specialProdAdvetImg2 | img_url: 'master' | img_tag:'useCase','lazyloaded' }}
                          {% endif %}
                         {% if block.settings.specialProdAdveturl != blank and block.settings.specialProdAdvetBut != blank %}
                          <div class="learnMoreBtn">
                             <a href="{{block.settings.specialProdAdveturl}}" class="advButton-{{block.id}}">{{block.settings.specialProdAdvetBut}}</a>
                          {% style %}
                             .advButton-{{block.id}}{line-height: 45px;display: inline-block; width: unset; padding: 0 20px; font-size: {{block.settings.btnFontSize}}px; font-weight: bold; margin: 0; background:{{block.settings.button_bg_color}};color:{{block.settings.btn_color}};}
                          {% endstyle %}
                          </div>
                         {% endif %}
                       </div>
                    </div>
                    </div>
                 </div>
              </section>
              {% if block.settings.specialProdAdvetImgmobile %}
                <section class="ProductRelatedAdvertisement last_banner_pro mobileNewFormatingSection mobileSection">
                  {% if section.block.specialProdAdvetcheck %}
                      <a href="{{block.settings.specialProdAdveturl}}">		
                          {% if block.settings.specialProdAdvetImgmobile %}
                            {{ block.settings.specialProdAdvetImgmobile | img_url: 'master' | img_tag:'useCase','lazyloaded' }}
                          {% endif %}
                      </a>	
                          {% else %}         
                      <a href="javascript:void(0);">
                          {% if block.settings.specialProdAdvetImgmobile %}
                            {{ block.settings.specialProdAdvetImgmobile | img_url: 'master' | img_tag:'useCase','lazyloaded' }}
                          {% endif %}
                      </a>
                  {% endif %}

                </section> 
              {% endif %}
  			 {% style %}
  				.adv-block-{{block.id}} .rightRelatedAdvert h4{margin-bottom: 40px;}
  			 {% endstyle %}
           {% endif %}
     {%- endcase -%}
  {%- endfor -%}
</div>
</div>
{% schema %}
  { 
    "name": "Dog Diaper Middle",
    "settings": [
    ],
	"blocks" : [
        {
           "type":"titleBB",
           "name":"Title",
           "settings":[
              { "type": "checkbox", "id": "show_block", "label": "Enable Block", "default": true },
              { "type": "richtext", "id": "text", "label": "Text", "default": "<p>Default Title</p>" }, 
              { "type": "select", "id": "text_align", "label": "Text Alignment", "options": [ { "value": "left", "label": "Left" }, { "value": "center", "label": "Center" }, { "value": "right", "label": "Right" } ], "default": "center" },
              { "type": "range", "id": "font_size", "min": 1, "max": 75, "step": 1, "unit": "px", "label": "Font Size", "default": 35 }, 
              { "type": "color", "id": "font_color", "label": "Font Color", "default": "#000000" }, 
              { "type": "color", "id": "bg_color", "label": "Block Background Color", "default": "#ffffff" },
              { "type": "range", "id": "specingUp", "min": 1, "max": 75, "step": 1, "unit": "px", "label": "Padding -  Top & Bottom", "default": 35 },
              { "type": "range", "id": "specingDown", "min": 1, "max": 75, "step": 1, "unit": "px", "label": "Padding -  Lfet & Right", "default": 35 },
      		  { "type": "range", "id": "letter-spacing", "min": 1, "max": 35, "step": 1, "unit": "px", "label": "letter spacing", "default": 15 }
           ]
        },
        {
           "type":"content_with_imgBB",
           "name":"Content with Image",
           "settings":[
              { "type": "header", "content": "Block settings" },
              { "type": "checkbox", "id": "show_block", "label": "Enable Block", "default": true },
              { "type": "select", "id": "block_type", "label": "Block Type", "options": [ { "value": "full", "label": "Full" }, { "value": "boxed", "label": "Boxed" } ], "default": "full" },
              { "type": "range", "id": "margn-up", "min": 0, "max": 100, "step": 1, "unit": "px", "label": "Top", "default": 15 },
              { "type": "range", "id": "margn-dwn", "min": 0, "max": 100, "step": 1, "unit": "px", "label": "Bottom", "default": 25 },
              { "type": "range", "id": "width", "min": 1, "max": 100, "step": 1, "unit": "%", "label": "Block Width", "default": 90, "info":"Applied if block Typle is boxed" },
              { "type": "color", "id": "block_bg", "label": "Block Background Color", "default": "#ffffff" },

              { "type": "header", "content": "Content settings" },
              { "type": "image_picker", "id": "topAddit_sec_Img", "label": "Block Image" },
			  { "type": "color", "id": "img__per_bg_clr", "label": "Image Background Color", "default": "#00b8bc" },
              { "type": "select", "id": "img_align", "label": "Img Alignment", "options": [ { "value": "left", "label": "Left" }, { "value": "right", "label": "Right" } ], "default": "left" },
              { "type": "text", "id": "headerText", "label": "Header Text" },
              { "type": "color", "id": "headerTextColor", "label": "Header Font Color", "default": "#81aec5" },
              { "type": "range", "id": "headerTextSize", "min": 1, "max": 75, "step": 1, "unit": "px", "label": "Header Font Size", "default": 44 },
              { "type": "range", "id": "ltr-spacing", "min": 1, "max": 35, "step": 1, "unit": "px", "label": "letter spacing", "default": 3 },
              { "type": "select", "id": "text_align", "label": "Text Alignment", "options": [ { "value": "left", "label": "Left" }, { "value": "center", "label": "Center" }, { "value": "right", "label": "Right" } ], "default": "center" },
               { "type": "html", "id": "addit_leftcontent", "label":"Content"},
               { "type": "html", "id": "addit_rightcontent", "label":"Content"},
              { "type": "text", "id": "addit_sec_paragraph", "label": "Addintonal Content" },
              { "type": "select", "id": "add_txt_align", "label": "Text Alignment", "options": [ { "value": "left", "label": "Left" }, { "value": "center", "label": "Center" }, { "value": "right", "label": "Right" } ], "default": "center" }   
           
			]
        },
        {
           "type":"cont_videoBB",
           "name":"Content with Video",
           "settings":[
              {"type": "checkbox", "id": "enable_sec_video","label": "Enable Video Section","default":true },
              	{ "type": "text", "id": "sec_video", "label": "Video URL","info":"Upload video in Assets folder and add file name with extensiton"}, 
				{ "type": "image_picker", "id": "video_poster", "label":"Poster Image" },
				{ "type": "image_picker", "id": "video_poster_m", "label":"Poster Image(Mobile)" },
				 {"type":"header","content":"Bottom Text"}, 
				{ "type": "color", "id": "addit_bg_color", "label": "Background Color", "default": "#f6f6f6" },
				{ "type":"html","id":"addit_sec_paragraph","label":"Content"}
			]
        },
        {
           "type":"sp_featureBB",
           "name":"Special Features",
           "settings":[
              { "type": "header", "content": "Block settings" },
              { "type": "checkbox", "id": "show_block", "label": "Enable Block", "default": true },
			  { "type": "color", "id": "block_bg_Spe", "label": "Block Background Color", "default": "#ffffff" },
			  {"type":"image_picker","id":"featureRightImg","label":"Right Image"},
			  { "type": "color", "id": "img__f_bg_clr", "label": "Image Background Color", "default": "#00b8bc" },
              {"type":"header", "content":"Section [1]"},
              {"type":"text","id":"featureTitle1","label":"Title"},
              {"type":"html","id":"featureText1","label":"Content"},
              {"type":"text","id":"featurePlusText1","label":"Plus Text"},
              {"type":"header", "content":"Section [2]"},
              {"type":"text","id":"featureTitle2","label":"Title"},
              {"type":"html","id":"featureText2","label":"Content"},
              {"type":"text","id":"featurePlusText2","label":"Plus Text"},
              {"type":"header", "content":"Section [3]"},
              {"type":"text","id":"featureTitle3","label":"Title"},
              {"type":"html","id":"featureText3","label":"Content"},
              {"type":"text","id":"featurePlusText3","label":"Plus Text"},
              {"type":"header", "content":"Section [4]"},
              {"type":"text","id":"featureTitle4","label":"Title"},
              {"type":"html","id":"featureText4","label":"Content"},
              {"type":"text","id":"featurePlusText4","label":"Plus Text"},
              {"type":"header", "content":"Section [5]"},
              {"type":"text","id":"featureTitle5","label":"Title"},
              {"type":"html","id":"featureText5","label":"Content"},
              {"type":"text","id":"featurePlusText5","label":"Plus Text"},
              {"type":"header", "content":"Section [6]"},
              {"type":"text","id":"featureTitle6","label":"Title"},
              {"type":"html","id":"featureText6","label":"Content"},
              {"type":"text","id":"featurePlusText6","label":"Plus Text"},
              {"type":"header", "content":"Section [7]"},
              {"type":"text","id":"featureTitle7","label":"Title"},
              {"type":"html","id":"featureText7","label":"Content"},
              {"type":"text","id":"featurePlusText7","label":"Plus Text"},
			  {"type":"header", "content":"Section [8]"},
			  {"type":"text","id":"featureTitle8","label":"Title"},
			  {"type":"html","id":"featureText8","label":"Content"},
			  {"type": "checkbox", "id": "is_chartbox","label": "Enable Chart","default":true},
			  {"type":"image_picker","id":"featureIcon","label":"Icon Image"},              
              {"type":"header", "content":"Blanket Comparison"},
              {"type":"image_picker","id":"BlanketCImg","label":"Select Image"}
           ]
        },
        {
            "type": "ProductImageTwoBB",
            "name": "Slider",
            "settings": [
				{ "type": "checkbox", "id": "show_block", "label": "Enable Block", "default": true },
				{"type":"text","id":"slidertextBB","label":"Slider Heading"},
                {"type":"image_picker","id":"prodBanner1","label":"Slide 1"},
                {"type":"image_picker","id":"prodBanner2","label":"Slide 2"},
                {"type":"image_picker","id":"prodBanner3","label":"Slide 3"},
                {"type":"image_picker","id":"prodBanner4","label":"Slide 4"},
                {"type":"image_picker","id":"prodBanner5","label":"Slide 5"},
                {"type":"image_picker","id":"prodBanner6","label":"Slide 6"},
                {"type":"image_picker","id":"prodBanner7","label":"Slide 7"}
            ]
        },
        {
            "type": "ProductImageBigBB",
            "name": "Big Product Images",
            "settings": [
				{ "type": "checkbox", "id": "show_block", "label": "Enable Block", "default": true },
              	{"type":"image_picker","id":"prodBanner3","label":"Product Image [Big]"}
            ]
        },
        {
            "type": "ProductImageSingleBB",
            "name": "Single Image",
            "settings": [
				{ "type": "checkbox", "id": "show_block", "label": "Enable Block", "default": true },
               	{"type":"image_picker","id":"prodBanner4","label":"Product Image [Last]"}
            ]
        },
        {
           "type":"advt_blockBB",
           "name":"Advt block",
           "settings":[
              { "type": "header", "content": "Block settings" },
              { "type": "checkbox", "id": "show_block", "label": "Enable Block", "default": true },
              { "type": "text","id": "specialProdAdvet","label":"Enter Headline" },
              { "type": "color", "id": "headlineColor", "label": "Headline Color", "default": "#ffffff" },
              { "type": "image_picker","id":"specialProdAdvetImg","label":"Left Background Image" },
              { "type": "text","id":"specialProdAdvetHead","label":"Right Side Headline" },
              { "type": "color", "id": "headlineColor2", "label": "Headline Color", "default": "#7fabc2" },
              { "type": "image_picker","id":"specialProdAdvetImg2","label":"Right Side Image" },
              { "type":"text","id":"specialProdAdvetBut","label":"Button Label" },
              { "type":"url","id":"specialProdAdveturl","label":"Button Url" },
              { "type": "header", "content": "Button Style" },
              { "type": "range", "id": "btnFontSize", "min": 1, "max": 50, "step": 1, "unit": "px", "label": "Font Size", "default": 14 },
              { "type": "color", "id": "button_bg_color", "label": "Button Background Color", "default": "#000000" },
              { "type": "color", "id": "btn_color", "label": "Button Text Color", "default": "#ffffff" },
              {"type":"header","content":"Special Product Advertisement [Mobile] "},
              {"type":"image_picker","id":"specialProdAdvetImgmobile","label":"Product Image"}
           ]
        }
	]
  }
{% endschema %}
<script>
    $(document).on("click",".inner_text h3",function(){
    $(".inner_text .sf_c_content").removeClass("is_spc_active");
    var sf_id = $(this).attr("spf_id");
    $("#"+sf_id).addClass("is_spc_active");
  });  	
</script>
