<!-- snippets/product-header-part/liquid-->
{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}
<div itemscope itemtype="http://schema.org/Product" id="ProductSection--{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="product-template" data-image-zoom-type="{{ section.settings.zoom_enable }}" data-enable-history-state="true" data-scroll-to-image="{% if section.settings.image_layout == "stacked" %}true{% else %}false{% endif %}">
    <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
    <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">    
	<div class="clear"></div>
    <div class="__title_banner">
        <div class="container">
            <div class="row">
                <div class="__Inner_title">
                  {% if section.settings.product_banner %}
                  	<img class="product-single__thumb" src="{{ section.settings.product_banner | img_url: 'master' }}" alt="{{ section.settings.product_banner.alt | escape }}">
                  {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="product-single white_space large--text-left">
      <!-- snippets/belly_head_judgeme.liquid -->
      {%- include 'belly_head_judgeme' -%}
      <!-- snippets/product-header-part.liquid -->
      {% include 'product-header-part' %}
  	</div>
      <!-- snippets/product-sizing-tips.liquid  -->
    <div class="clear"></div>
     {% comment %}{% include 'product-sizing-tips' %}{% endcomment%}    

</div>
{% unless product.empty == empty %}
<script type="application/json" id="ProductJson-{{ section.id }}">
        {{ product | json }}
</script>
{% endunless %}
{% schema %}
  {
    "name": "Gnawtlers Header",
    "settings": [
	  {"type": "header","content": "General"},
      {"type": "checkbox", "id": "zoom_enable","label": "Enable image zoom","default":true},
	  {"type": "checkbox", "id": "product_vendor_enable","label": "Show product vendor","default":true},
	  {"type": "checkbox", "id": "review_show","label": "Show product reviews","default":true},
	  {"type": "checkbox", "id": "show_sku","label": "Show product SKU","default":true},
	  {"type": "checkbox", "id": "show_shiping_text","label": "Show shipping Text","default":true},	  
	  {"type": "text",	"id": "sub_text_product","label": "Sub - Title","default": "Premium Male Dog Wraps"},
{"type": "html","id": "sf_product_des","label": "Description","default": "Content here..."},
	  {"type": "image_picker", "id": "product_banner","label": "Product Banner"},
      {"type": "header","content": "Product options"},
      {"type": "checkbox", "id": "quantity_enabled","label": "Show quantity picker"},
      {"type": "select", "id": "product_selector","label": "Product Options Picker type","options": [
          {"value": "radio","label": "Button"},
          {"value": "select","label": "Dropdown"}
        ]},
      {"type": "header","content": "Extra"},
	  {"type": "checkbox", "id": "is_size","label": "Show Size","default":true},
	  {"type": "text","id": "size","label":"Add Size","default":"Waist"},
	  {"type": "checkbox", "id": "social_sharing_products","label": "Enable product sharing","default": false},
      {"type": "header", "content": "Sizing Tips"},
	  {"type": "image_picker", "id":"tips_img", "label":"tips Image"},
	  {"type": "html","id":"tips_heading","label":"Tips Heading"},
	  {"type": "html","id":"tips_html","label":"Tips content"}
    ],
	"blocks" : [{
	        "type": "size",
	        "name": "Size Variant",
	        "settings": [
				{"type":"text","id":"size","label":"Size Variant","info":"add same that is into back-end otherwise it not working"},
				{"type":"image_picker","id":"size_img","label":"Size Variant Image"},
				{"type":"text","id":"size_text","label":"Size Variant custom Text"}
			]
		},
		{
	        "type": "color",
	        "name": "Color Variant",
	        "settings": [
				{"type":"text","id":"color","label":"Color Variant","info":"add same that is into back-end otherwise it not working"},
				{"type":"image_picker","id":"color_img","label":"Color Variant Image"},
				{"type":"text","id":"color_text","label":"Color Variant custom Text"}
			]
		},
		{
	        "type": "feature",
	        "name": "Feature",
	        "settings": [
				{"type":"text","id":"feature_txt","label":"feature Text"},
				{"type":"color","id":"feature_bg","label":"Feature Background Color"},
				{"type":"color","id":"feature_fr","label":"Feature Text Color","default":"#ffffff"},
				{"type":"image_picker","id":"badge_Img","label":"Flavor Variant Image"}
			]
		}

	]
  }
{% endschema %}
<style>
.Features_sec_neww .Special_Features_img {width: 75%; grid-gap: 30px;}
.Features_sec_neww .Special_Features_content {flex-direction: column; width: 25%;}
.Special_Features .inner_text {width: 100%;}
 .product-form__item .__itemWraper label {opacity: 1;}
.addtocart_button {width: 70%; display: flex;grid-gap: 10px;}
.product-single__quantity .js-qty button {background: none;color: #333;}
.product-single__quantity { width: 16% !important;}
button#AddToCart--product-pee-pads-header {padding: 0;height: 50px; width: 100%; max-width: 100%;}
.sf_PB_banner_right .product-single__add-to-cart {justify-content: space-between; padding: 35px 0;}  
.sf_PB_banner_right .sf_product_price {width: 100%; max-width: 100%; display: inline-block;  background: #f6f6f6; height: 50px; line-height: 50px; padding: 0; }
.product-single__add-to-cart button {float: right;}
.product-single__quantity .js-qty input {max-width: 100px !important; height: 50px; width: 50px !important;}
.sf_PB_banner_right label.product-single__quantity-label::after {display: none;}
.sf_PB_banner_right label.product-single__quantity-label{margin-bottom: 0;}


.slide_next {right: 0px;top: -45px;min-height: auto;}
.slide_prev {right: 35px;top: -45px;min-height: auto;}
.slick-arrow {background: #e7e7e7;left: unset; border-radius: 50%; height: 22px; width: 22px; display: flex !important;	align-items: center; justify-content: center;}

.Special_Features_content {width: 25%;}
.Special_Features_img {width: 75%;}
.Special_Features_row .inner_text:nth-child(4) {flex-direction: column;background: #ededed;}
.inner_text h3 {text-align: left;width: 100%;}

.product-form__item #ProductSelect-option-0 .__itemWraper label {opacity: 1;}
.product-form__item .__itemWraper label {opacity: 0.2;}
.sf_PB_banner_right .product-single__add-to-cart button {width: 100%;}
.radio-wrapper.product-form__item .single-option-radio .__itemWraper {max-width: 80px;}
.sf_PB_banner_right #ProductSelect-option-0 span.color_variant_bg img {max-width: 40px;}
div#ProductSelect-option-1 .__itemWraper input + label img {display: none;}
.sf_PB_banner_right #ProductSelect-option-0 span.color_variant_bg {border: 0px solid #aca4a675 !important;	position: relative; width: 50px; height: 50px; display: flex;
align-items: center; justify-content: center;}
.peePad-header-content #ProductSelect-option-1 {justify-content: flex-start;grid-column-gap: 30px; align-items: start;}
.sf_PB_banner_right .__price_button .col-md-12.no-padding > div.__frm_2 {max-width: 50%;}
.sf_PB_banner_right .product-form__item.__frm_1 {width: 50%;}
span.span_bg_color {
    padding-right:0px;
}

.ag_slide.ag_slide_l {width: 50%;}
.ag_slide.ag_slide_r {width: 50%; padding: 50px 50px 50px 70px; display: flex; flex-direction: column; justify-content: center;}
  
.ag_slide_item { display: flex !important; background: #f6f6f6;}
.ag_slide  span img {width: 360px; position: relative; left: 50px;}
.ag_slide.ag_slide_l { display: flex; justify-content: space-between; align-items: center;background: #b5bbaf;}
.ag_slide_l h2 { color: #fff; font-size: 50px; font-weight: 500; padding-left: 75px; white-space: nowrap;}
.ag_slide_r p {color: #706f6f; font-size: 15px; line-height: 21px}
.ag_slide_r p.bottomTxt {font-size: 16px; margin: 30px 0 0;}
.ag_slide_r p.bottomTxt span {display: inline-block;}
p.bottomTxt span a {display: inline-block; background: #b5bbaf; max-width: 175px;text-align: center;font-family: 'Gentona';font-size: 12px;font-weight: 600;border-radius: 50px;transition: .25s;
	padding: 2px 15px;color: #fff;text-decoration: none;text-transform: uppercase; margin: 0 10px 0px;}


#AntlerGuide_sl {margin-top: 30px;}
div#ProductSelect-option-1 .__itemWraper input + label {font-weight: 400;}
#AntlerGuideSize_mob {display: none;}
.is_ags_desktop {display: block; width: 100%; text-align: center; margin: 30px 0;}
.is_ags_desktop img {margin: 0 auto;}
#ProductSelect-option-1 .__itemWraper {
    max-width: 40px!important;}

  
div#ProductSelect-option-1 .__itemWraper input+label {
    font-size: 12px;
}
#ProductSelect-option-1 .__itemWraper {
    max-width: 50px!important;
}
.slide_prev:hover,  .slide_next:hover {
    background: #a4a5a5 !important;
}
  .product-single__quantity {
      flex-direction: column !important;
    }
    .sf_PB_banner_right label.product-single__quantity-label {
        text-align: center !important;
        margin-bottom: 5px;
    }
  .sf_PB_banner_right .product-single__add-to-cart {
    padding: 20px 0 20px;
}
  .addtocart_button {
    margin-top: 15px;
}
/*   #PawtectBlanketSlider5 .bc_slide {
    position: relative;
    padding-top: 3%;
} */
  
/* .slideriD_d013a137-d642-4c0f-a121-7114015645d9 .bc_slide {
    padding-top: 6% !important;
}   
   */
  
section#AntlerGuideSize-b-e42ac28f-5a8f-4e3f-b761-ae5866e3f227 h3.forEveryNeed.sliderEveryNeed {
    display: none;
}
section#AntlerGuideSize-b-e42ac28f-5a8f-4e3f-b761-ae5866e3f227 {
    display: none;
}
#ProductThumbs .slide_prev:hover, #ProductThumbs .slide_next:hover {
background: transparent !important;
}
  

.s_img.mobBan {display: none;}
.s_img.deskTab {display: block;}

@media only screen and (min-width:768px) and (max-width:1285px) {
.peePad-header-content #ProductSelect-option-1 {justify-content: center; }
}
@media only screen and (min-width:100px) and (max-width:1100px) {
.slick-arrow {top: -45px;}
.slide_next {right: 20px;}
.slide_prev {right: 55px;}
#AntlerGuide_sl {margin-top: 50px;}

#AntlerGuideSize_mob {display: block; margin: 30px 15px 0 0;}
.is_ags_desktop {display: none;}
#AntlerGuideSize_mob .slick-slide img {display: block;max-width: 180px;margin: 0 auto;height: 140px; object-fit: contain;}
  
  
.Special_Features_content,.Special_Features_img {width: 100%;}
.top_additional_sec_subcontent {margin: 0 auto;}
.sf_top_additional_right_sec .top_additional_sec_subcontent ul li {text-align: left;}

.addtocart_button {width: 100%;	margin-top: 30px; grid-gap: 0px;}
.product-single__quantity {width: 100% !important;padding-left: 0px !important; flex-direction: column; justify-content: center;}
.product-single__quantity .js-qty {justify-content: center !important;max-width: 100%;}
.sf_PB_banner_right .__price_button .col-md-12.no-padding .product-single__add-to-cart {margin: 30px 0 0 !important;}
.sf_PB_banner_right label.product-single__quantity-label {margin-bottom: 15px;	padding: 0 !important;}
.addtocart_button {width: 100%; align-items: center;}
.sf_PB_banner_right .product-single__add-to-cart button {width: 100%;max-width: 100%; height: 50px;}
.product-single__quantity label span.span_bg_color {padding-left: 0;}

.sf_PB_banner_right label.product-single__quantity-label::after {top: 11px;}
label::after {display: block !important;}

.ag_slide span img {left: 0;width: 700px;}
  
.ag_slide_item {flex-direction: column;}
.ag_slide.ag_slide_l {width: 100%;padding: 0px;}
.ag_slide_l h2 {margin: 0;font-size: 42px;padding-left: 20px;width: 50%;line-height: 50px; white-space: initial;}
.ag_slide.ag_slide_r {width: 100%; padding: 40px 40px 10px; background: #fff;}

.top_additional_sec_issue .top_additional_sec_Img {width: 100% !important; max-width: 100% !important;}
.ag_slide_r p.bottomTxt {display: flex; grid-gap: 50px;text-align: center; justify-content: center;}
.ag_slide_r p.bottomTxt span {width: auto;}
p.bottomTxt span a {display: block;background: #59795d;margin: 15px 0px 0px;}
.additional_sec_helpIssue.pro_points .top_additional_sec_Img {padding: 50px 30px;}
.Special_Features_img img {max-width: 300px;}

  .Special_Features_row .inner_text:last-child {display: block;}
.ag_slide.ag_slide_l {background: #324736;}

.s_img.mobBan {display: block;}
.s_img.deskTab {display: none;}

}
@media (max-width: 767px) {
	.ag_slide span img {
        width: 700px;
        max-width: 320px;
        left: -65px !important;
    }
    .ag_slide_l h2 {
      padding-left: 35px;
      transform: translate(20px, -15px);
    }
    .ag_slide_r p.bottomTxt {
        font-size: 15px;
    }
    .sf_newformatingSizeSection p.sub_cod {
        font-size: 10px;
    }
/*     #PawtectBlanketSlider5 .bc_slide {
        padding-top: 6%;
    } */
  
  section#AntlerGuideSize-b-e42ac28f-5a8f-4e3f-b761-ae5866e3f227 {
      display: block;
  }
  section#AntlerGuideSize-b-e42ac28f-5a8f-4e3f-b761-ae5866e3f227 h3.forEveryNeed.sliderEveryNeed {
      display: block;
  }
  section#AntlerGuideSize-b-e42ac28f-5a8f-4e3f-b761-ae5866e3f227 #AntlerGuideSize_mob .slick-slide img {
      display: block;
      width: 100%;
      max-width: 100%;
      margin: 0 auto;
      height: 100%;
      object-fit: contain;
  }
  .slideriD_d013a137-d642-4c0f-a121-7114015645d9  {display : none;}
  h3.forEveryNeed.sliderEveryNeed {
      display: none;
  }
	.ssss_slider {
      display: none;
  }
    
}

</style>