{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}
<div itemscope itemtype="http://schema.org/Product" id="ProductSection--{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="product-template" data-image-zoom-type="{{ section.settings.zoom_enable }}" data-enable-history-state="true" data-scroll-to-image="{% if section.settings.image_layout == "stacked" %}true{% else %}false{% endif %}">
    <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
    <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">    
	<div class="clear"></div>
    <div class="__title_banner">
        <div class="container">
            <div class="row">
                <div class="__Inner_title">
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="product-single white_space large--text-left">
      <!-- snippets/belly_head_judgeme.liquid -->
      {%- include 'belly_head_judgeme' -%}
      <!-- snippets/product-header-part.liquid -->
      {% include 'product-header-part-2' %}
  	</div>
      <!-- snippets/product-sizing-tips.liquid  -->
    <div class="clear"></div>   
</div>
{% unless product.empty == empty %}
<script type="application/json" id="ProductJson-{{ section.id }}">
  {{ product | json }}
</script>
{% endunless %}
{% schema %}
  {
    "name": "Deterrent Mat Header",
    "settings": [
	  {"type": "header","content": "General"},
      {"type": "checkbox", "id": "zoom_enable","label": "Enable image zoom","default":true},
	  {"type": "checkbox", "id": "product_vendor_enable","label": "Show product vendor","default":true},
	  {"type": "checkbox", "id": "review_show","label": "Show product reviews","default":true},
	  {"type": "checkbox", "id": "show_sku","label": "Show product SKU","default":true},
	  {"type": "checkbox", "id": "show_shiping_text","label": "Show shipping Text","default":true},
	  {"type": "text",	"id": "shipping_text","label": "Shipping Days Text","default": "FREE 3 DAY SHIPPING"},
      {"type": "header","content": "Product options"},
      {"type": "checkbox", "id": "quantity_enabled","label": "Show quantity picker"},
      {"type": "select", "id": "product_selector","label": "Product Options Picker type","options": [
          {"value": "radio","label": "Button"},
          {"value": "select","label": "Dropdown"}
        ]},
      {"type": "header","content": "Extra"},
	  {"type": "checkbox", "id": "is_size","label": "Show Size","default":true},
	  {"type": "image_picker","id": "size_img","label":"Add Size Img"},
	  {"type": "checkbox", "id": "social_sharing_products","label": "Enable product sharing","default": false},
      {"type": "header", "content": "Sizing Tips"},
	  {"type": "image_picker", "id":"tips_img", "label":"tips Image"},
	  {"type": "html","id":"tips_heading","label":"Tips Heading"},
	  {"type": "html","id":"tips_html","label":"Tips content"}
    ]
  }
{% endschema %}