<div class="_sf_AsSeenOn_ {{section.settings.AsSeenClass}}">
<div class="sf_heading22 mobBan">
           <h2 class="wwa_heading wwa_heading_blue">{{section.settings.AsSeenHeading}}</h2>
          </div>
<section class="_AsSeenOnh_">
		<div class="_row_">    
          <div class="container">    
          <div class="_sf_logos_ slider" id="wwa_logos_id">
            {% for block in section.blocks %} 
           <div class="logo_items logo_items_{{forloop.index}}"> {% if block.settings.LogoLink != blank %} <a target="_blank" href="{{ block.settings.LogoLink }}">{% endif %}
             <img class="img-responsive lazy3 lazy2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{ block.settings.LogoImg | img_url:'master' }}" alt="LogoImg">
             {% if block.settings.LogoLink != blank %}</a>{% endif %}</div>
            {% endfor %}
          </div>
          </div>
        </div>
</section>
</div>

{% schema %}
  {
    "name": "Our Fans",
    "settings": [
	{"type":"text","id":"AsSeenHeading","label":"Heading"},
	{"type":"text","id":"AsSeenClass","label":"Add Class"}
		],
	"blocks" : [{
 "type": "AsSeenLogos",
 "name": "Add Logo",
 "settings": [
	  {"type":"image_picker","id":"LogoImg","label":"Select Image"},
	 {"type":"url","id":"LogoLink","label":"Link"} 
		]} ],
	"presets": [{
      "name": "As Seen Logos",
      "category": "Home"
    }]
  }
{% endschema %}
